<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Open a Ticket</h3>
</div>
<div class="modal-body" id="open-ticket-body" >
	<div ng-hide="!showSuccess || busy" class="alert alert-success" role="alert">
		A new ticket has been created.
	</div>
	<div ng-show="!showSuccess && !busy && error.submit"  class="alert alert-danger submit-error" role="alert">
		Error occurred. 
		<span ng-hide="error.submit.message">Status code returned is <span ng-bind="error.submit.status"></span>.</span>
		<span ng-show="error.submit.message">Returned the following error: <span ng-bind="error.submit.message"></span>.</span>

	</div>
	<div ng-hide="!busy" class="text-center">
		<img src="/lib/ajax-loader.gif">
	</div>
	<form class="form-horizontal" id="open-ticket-form" ng-hide="showSuccess || busy">
		<div class="form-group" ng-class="{ 'has-error': error.category }">
			<label for="contact-us-category" class="col-sm-2 control-label">Category</label>
			<div class="col-sm-10">
				<select name="contact-us-category" id="contact-us-category" class="form-control" ng-model="data.category">
					<option ng-repeat="option in categories" value="{{option.value}}">{{option.caption}}</option>
				</select>
				<div class="help-block" ng-show="error.category">Select a category.</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': error.summary }">
			<label for="contact-us-summary" class="col-sm-2 control-label">Summary</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="contact-us-summary" placeholder="" ng-model="data.summary">
				<div class="help-block" ng-show="error.summary">You must enter a summary.</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': error.description }">
			<label for="contact-us-description" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" id="contact-us-description" placeholder="ie; Browser used, error codes shown, is this a recurring problem?" ng-model="data.description"></textarea>
				<div class="help-block" ng-show="error.description">Description must be longer than 10 characters.</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-link" ng-click="cancel()">Close</button>
	<button type="button" class="btn btn-primary" ng-click="submit()" ng-hide="showSuccess || busy">Submit</button>
</div>