@media print {
  body * {
    display: none;
  }
}
.navbar-brand img {
  margin-top: -6px;
}
.brand-title {
  margin-left:5px;
  margin-right: 5px;
}
.brand-version {
  display:inline-block;
  float:right;
  font-size: .7em;
  margin-top:9px;
}

#chart {
  height: 600px;
}
#chart-buttons {
  margin-top: 10px;
}
.gridStyle {
  border: 1px solid rgb(212,212,212) !important;
  height: 600px;
}
.gridStyle button:disabled {
  opacity: .5;
}
.container {
  width: 100%;
}

.ngCell {
    border-right: 0.01em solid #EAEAEA;
    border-left: 0.01em solid #EAEAEA;
}


#loading-indicator {
  position: fixed;
  z-index: 15000;
  top: 50%;
  left: 40%;
}
#main-ui-view-content {
  min-height: 250px;
}
.nav.nav-tabs {
  margin-bottom: 5px;
}
.datepicker {
  position: relative;
  z-index: 2;
}
.alert-box {
  z-index: 1500;
  margin-right: 30px;
}
.alert {
  margin-bottom: 0;
}


.nvd3.nv-line .nvd3.nv-scatter .nv-groups .kfla-nv-series-show-points .nv-point {
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-width: 5px;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .kfla-nv-series-show-points .nv-point.hover {
  stroke-width: 7px;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point.alert-highlight-point {
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-width: 9px;
  fill: #0000ff;
  stroke: #0000ff;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point.alert-end-point {
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-width: 9px;
  fill: #ff0000;
  stroke: #ff0000;
}


.modal-backdrop.in {
  opacity: .2;
  z-index: 15000;
}
.tooltip {
  top: -10000px;
  z-index: 20000 !important;
}
.line-listings-cell-tooltip:hover {
  color: #0000ff;
}
.cta-tooltip-text .header {
  font-weight: bold;
}
.cta-tooltip-text .description {
  font-size: .85em;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/* EpiCurves Alerts dropdown menu options */
.epi-alerts-options .dropdown-menu {
  padding: 10px;
}
@media (min-width: 768px) {
  .epi-alerts-options .dropdown-menu {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .epi-alerts-options .dropdown-menu {
    width: 700px;
  }
}
.epi-alerts-options .dropdown-menu .col,
.epi-alerts-options .dropdown-menu .col {
  margin-bottom: 15px;
  margin-top: 15px;
}
.user-profile .hello {
  padding-right: 5px;
}
.user-profile .dropdown-menu .current-phu {
  width: 400px;
  padding: 10px 10px 0 10px;
  margin-left: 10px;
  color: #353535;
}
.user-profile .dropdown-menu .current-phu label {
  text-align: right;
}
.user-profile .dropdown-menu .current-phu .row {
  /* reduce col padding */
  margin-right: -5px;
  margin-left: -5px;
}
.user-profile .dropdown-menu .current-phu .row .col {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.site-admin .panel {
  border-radius: 4px;
}
.site-admin .site-admin-col1 .panel-body {
  padding: 0;
}
.site-admin .site-admin-col1 .panel-body {
  padding: 0;
}
.site-admin .site-admin-col1 .nav-pills>li>a {
  border-radius: 0;
  padding-left: 25px;
}
.site-admin .site-admin-col1 .nav-pills>li>a.active {
  background-color: #eee;
}
.site-admin .site-admin-col1 .nav-pills>li {
  border-bottom: solid 1px #f5f5f5;
}
.site-admin .site-admin-col1 .nav-pills>li:last-child {
  border-bottom-width: 0;
}
.site-admin .site-admin-col1 .nav-stacked>li+li {
  margin-top: 0;
}
.site-admin .site-admin-col1  .panel-heading {
  font-weight: bold;
}
.site-admin .site-admin-col1  .panel-heading:not(:first-child) {
  border-top: solid 1px #ddd;
  border-radius: 0;
}


.site-admin .site-admin-col2 h2 {
  margin-top: 0;
}

.site-admin .site-admin-col2 .ngViewport {
    overflow-x: hidden;
}

.site-admin .input-loading {
  background-image: url('../lib/ajax-loader-circular.gif');
  background-repeat: no-repeat;
  background-position: 95% center;
}


/* Line Listing Modal */
.line-listing-modal .tab-content {
  margin-top: 10px;
}
.line-listing-modal .details-col1 table tr td:nth-child(1) {
  width: 140px;
  font-weight: bold;
  text-align: right;
}
.line-listing-modal .gridStyle {
  clear: both;
  padding-top: 10px;
  height: 400px;
}
/* EpiCurves and Line Listing Form */
#epicurves-form {
  /*  */
}
#epicurves-form .row {
  /* reduce col padding */
  margin-right: -5px;
  margin-left: -5px;
}
#epicurves-form .row .col {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}
#epicurves-form .btn-block .dropdown-toggle .text {
  padding-left: 12px;
  float: left;
  width: 70%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* Resources Form */
#resources-form {
  /*  */
}
#resources-form .row {
  /* reduce col padding */
  margin-right: -5px;
  margin-left: -5px;
}
#resources-form .row .col {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}
#resources-form .btn-block .dropdown-toggle .text {
  padding-left: 12px;
  float: left;
  width: 70%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
#resources-form-title {
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
}
#resources-form-content {
  margin-bottom: 10px;
}
#resources-form-datasource {
  margin-top: 20px;
}
.resource-container{
  margin-bottom: 5px;
}
.resource-header-row{
  margin-bottom: 30px;
}
/* off-canvas */
/*
 * Style tweaks
 * --------------------------------------------------
 */

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -91.667%;
    /* 11 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -91.667%;
    /* 11 columns */
  }
  .row-offcanvas-right.active {
    right: 91.667%;
    /* 11 columns */
  }
  .row-offcanvas-left.active {
    left: 91.667%;
    /* 11 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 91.667%;
    /* 11 columns */
  }
}
/*
Styles related to user page
*/
#page-user{

}
#page-user svg {
  width: 100%;
}
#page-user .gridStyle{
  width: 100%;
  height: 500px;
}

/*
Styles related to alerts page
*/
#page-alerts #sidebar .row,
.epicurves-form-syndromes .row {
  /* reduce col padding */
  margin-right: -5px;
  margin-left: -5px;
}
#page-alerts #sidebar .row .col,
.epicurves-form-syndromes .row .col {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}
#page-alerts #sidebar .alert-type .item,
#page-alerts #sidebar .alert-syndrome .item {
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#page-alerts #sidebar .alert-type a,
#page-alerts #sidebar .alert-syndrome a,
.epicurves-form-syndromes a {
  color: #000000;
  cursor: pointer;
}
#page-alerts #sidebar .alert-type a:hover,
#page-alerts #sidebar .alert-syndrome a:hover,
#page-alerts #sidebar .alert-type a.active,
#page-alerts #sidebar .alert-syndrome a.active,
.epicurves-form-syndromes a:hover,
.epicurves-form-syndromes a.active {
  color: #4cae4c;
  font-weight: bold;
  text-decoration: none;
}
#page-alerts #sidebar .alert-type a.disable,
#page-alerts #sidebar .alert-syndrome a.disable,
#page-alerts #sidebar .alert-type a.disable:hover,
#page-alerts #sidebar .alert-syndrome a.disable:hover,
.epicurves-form-syndromes a.disable,
.epicurves-form-syndromes a.disable:hover {
  color: #e5e5e5;
  font-weight: normal;
  cursor: auto;
}
#page-alerts #sidebar .alert-syndrome .optional-syndromes .list, .epicurves-form-syndromes .list {
  padding-top: 10px;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  #page-alerts #sidebar .alert-syndrome .optional-syndromes .list, .epicurves-form-syndromes .list {
    width: 700px;
  }
}


.label-as-badge {
  border-radius: 10px;
}

@media (max-width: 767px) {
  #siteseal {
    text-align: center;
    padding: 5px;
  }
}
