body {
    background: #F2F2F2;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #353535;
    font-size:16px;
    overflow-x: hidden;
}

h1 {
  font-size:3.25em;
}

b {
  font-weight:500;
}
input, textarea {
  border-color: #AAAAAA !important;
  border-radius: 3px !important;
  border-width:1.5px !important;
}

input:focus,input:active, textarea:focus, textarea:active {
  border-color: #327F53 !important;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}

select {
  border-color: #AAAAAA !important;
  border-radius: 3px !important;
  border-width:1.5px !important;
}

select:focus {
  border-color: #327F53 !important;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}

hr {
  border-color: #777777;
}

a {
  color: #327F53 ;
  font-weight: 500;
}

a:hover, a:active, a:focus {
  color: #1F5034;
}

.navbar .btn-default {
  background-color: #327F53;
  color: white;
  font-weight: 500;
}


.navbar .btn-default:hover, .navbar .btn-default:active {
  background-color: #1F5034;
}

.nav>li>a {
    text-decoration: none !important;
    color: #727472;
}

.nav-items>li>a:hover{
    color: #327F53 !important;
    background-color: #635E5E;
}

.nav-items > li > a:before, .nav-items > li > a:active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: #327F53 !important;
    background: #327F53;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

.nav-items > li > a:hover:before, .nav-items > li > a:focus:before, .nav-items > li > a:active {
    visibility: visible;
    color: #327F53 !important;
    transform: scaleX(1);
}

.nav-items > li > a:active {
    background-color: #f3f3f3 !important;
}


/* Button CSS */
.btn-hover {
  background-color: #327F53;
  color: white;
  font-weight: 500;
}

.btn-danger {
  background-color: #943838 !important;
  color: white !important;
  border-width: 0px !important;
  font-weight: 500;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:visited .btn-danger:target{
  background-color: #692626 !important;
  font-weight: 500;
}

.btn-success {
  background-color: #327F53 !important;
  color: white !important;
  border-width: 0px !important;
  font-weight: 500;
}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:visited{
  background-color: #1F5034 !important;
  font-weight: 500;
}

.btn-outline:hover {
  background-color: white !important;
  color: #1F5034 !important;
  border-color: #1F5034 !important;
}

.btn-new {
  background-color: #327F53;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

.btn-new:hover {
  background-color: #1F5034;
  color: white;
}

#chart-buttons .btn-default {
  background-color: #327F53;
  color: white;
  font-weight: 500;
}

#chart-buttons i{
  color: white;
}

#chart-buttons .btn-default:hover {
  background-color: #1F5034;
}

#maButtonDiv i, #maButtonDiv .btn-info{
  background-color: #327F53 !important;
  border-color: #327F53;
}

.visible-xs .btn-offcanvas {
  background-color: #327F53 !important;
  border-color: #327F53;
  font-size: 16px;
}

/* End Button CSS */


/* Start Graph CSS*/
.ngHeaderSortColumn{
    color: white;
}

.ngHeaderButton{
    background-color: white;
    width: 1em;
    height: 1em;
}

.ngHeaderButtonArrow {
    border-color: #375944 transparent transparent transparent;
    top: 5px;
}

.ngHeaderContainer, #page-user .ngTopPanel, .ngFooterPanel.ng-scope {
    background-color: #375944;
}

.ngFooterTotalItems, .ngFooterPanel .ngPagerContainer{
    font-weight: 500;
    color: white;
}

.ngFooterPanel .ngPagerContainer input, .ngFooterPanel .ngPagerContainer select {
    color: #333;
}

/* End Graph CSS */


/* Sidebar CSS */
#sidebar .dropdown-toggle, #sidebar .btn-block{
  background-color: white;
  color: #353535;
  border-color: #AAAAAA;
  border-radius: 3px;
  border-width:1.5px;
}

#sidebar .dropdown-toggle:active, #sidebar .dropdown-toggle:focus, #sidebar .dropdown-toggle:active, #sidebar .btn-block:active, #sidebar .btn-block:focus {
  background-color: white;
}

#sidebar a.active, #sidebar a.active:hover {
  color: #327F53 !important;
  font-weight: 500 !important;
}

#sidebar .btn-group{
  border-color: #AAAAAA !important;
  border-radius: 3px !important;
  border-width:1.5px !important;
}


#sidebar li p {
    margin-bottom: 0px;
}

#sidebar li.active a, #sidebar li:focus a, #sidebar li:active  {
-webkit-box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.58);
-moz-box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.58);
box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.58);
border: 0px !important;
}

#sidebar .list-group-item {
  border: 0px;
}

/* End Sidebar CSS */



.hero-unit {
    margin: 50px auto 0 auto;
    max-width: 80% !important;
    border-radius: 6px;
    padding: 60px;
}

.ngHeaderContainer {
  font-weight: 500;
}

/* Selection text colour */
::selection {
  background: #327F53;
  color: white;
}
::-moz-selection {
  background: #327F53;
  color: white;
}

.main-wrapper {
    max-width: 80% !important;
    margin: 0 auto !important;
}

.navbar {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.13);
    color: white;
    border-radius: 0px !important;
    -moz-border-radius: 0 !important;
}



.syndrome-bg {
    background-color: #c0c0c0;
}

.syndrome-chart {
    background-color: white;
}

.datepicker-right-align {
    position: relative;
}

.datepicker-right-align .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.chart-title {
    position: absolute;
    left: 15px;
    right: 15px;
    text-align: center;
}
.chart-title .title {
    cursor: pointer;
}
.chart-title .title:hover {
    opacity: .5;
}

.padding10 {
    padding: 10px 10px 10px 5px;
}

.chart-margin {
    margin: 50px 10px 50px 80px;
}/* Add this class to prevent dropdown menus from overflowing out of page view*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
/* Fix */
#sidebar .tab-pane .list-group-item:first-child{
    /*margin-top:-1px;*/
    border-radius: 0;
    border-top-width: 0;
}

#open-ticket-form .form-group,
#open-ticket-body .submit-error {
    margin-bottom: 15px;
}

/* Keyword Alerts */
.keyword-builder-body{
    margin:5px 0;
    padding:0;
}

.keyword-builder-row{
    margin:0 10px;
}

.keyword-builder-control{
    margin-bottom:5px;
}


.keyword-heading, .keyword-body{
    font-size: 16px;
    padding:5px 15px;
}

.keyword-badge{
    display: inline-block;
}

.keyword-row{
    display: inline-block;
    margin-top:2px;
    font-size: 16px;
}

.keyword-row-control{
    margin-top:5px;
}

.keyword-control{
    display: inline-block;
    margin-top:2px;
    cursor: pointer;
}

.keyword-button{
    margin-left:10px;
}

.keyword-button-control{
    padding:0 10px;
}

.keyword-select-control{
    margin-right:10px;
}

.keyword-label{
    margin:10px 0 0 0;
    padding:2px 0;
    height:25px;
    font-weight:700;
    display: inline-block;
}

.keyword{
    display: inline-block;
    float:right;
    padding:3px 10px 3px 5px;
}

.keyword-warning-container{
    position: relative;
    height:606px;
}

.keyword-warning{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.keyword-error{
    color:#D2322D;
    font-size:12px;
    font-style: italic;
    font-weight:bold;
}

.keyword-highlight{
    border-color:#D2322D;
}

.keyword-row-status{
    float:right;
}

.toggle{
    min-width: 100px !important;
}

.toggle, .toggle-on, .toggle-off {
    border-radius: 10px !important;
}

.toggle .toggle-handle {
    border-radius: 10px !important;
}

/* User Details */
.user-detail-input{
    width:100%;
    height:27px;
}

.user-detail-warn{
    color:#D2322D;
    font-size:12px;
    font-style: italic;
    font-weight:bold;
}

/* Self Reg */
.register-button {
    color: #428bca;
    cursor: pointer;
}

@media (min-width:992px){
.register-modal-window .modal-dialog{
    width:55%;
}
}

@media (max-width:991px){
.register-modal-window .modal-dialog{
    width:90%;
}
}

.register-warn{
    font-size:12px;
    font-style: italic;
    font-weight:bold;
}

/* Moving Average Modal */
#maCurrentDiv{
    float:left;
    clear:both;
    margin-top:3px;
}
#maButtonDiv{
    margin-top: 5px;
}
#maCurrentSpan{
    margin:0 10px 0 5px;
    font-size: 20px;
    font-weight:bold;
}
#maModalDiv, #maModalLabel{
    padding-bottom: 20px;
}

/* Panels */
.panel-success .label-danger,
.panel-danger .label-success {
    display:none;
}

.panel-divider{
    border-bottom: 1px rgb(221, 221, 221) solid;
    margin: 20px 0 10px 0;
}


h3.current-alerts {
	margin-bottom:0px
}
/* Adblock modal */
#blockedModal {
    z-index:1000000;
}

#blockedModal .modal-header{
    background-color: #FFCC00;
}

div.ngViewport.ng-scope{
    background-color:white !important;
}


/* Used to show box hover effect on divs */
.elevation-padding {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 3px;
    background-color: white;
    padding: 1em;
    margin-right: 1em;
}

.elevation {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 3px;
    background-color: white;
}

.elevation-margin {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 3px;
    background-color: white;
    padding-top: 0.5em;
    margin-top: 1em;
    margin-bottom:2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* for graphic on main page */
.fixed-bottom {
  position: fixed;
  bottom: 0px;
  width: 120%;
  margin-left:-15px;
  z-index: -1;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


/* enable absolute positioning */
.inner-addon {
    position: relative !important;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute !important;
  padding: 10px !important;
  pointer-events: none !important;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.glyphicon {
    color: #777777;
}


/* making form labels above instead of beside */
#login-box input, label {
  display: block;
}

#login-box .form-group {
  width: 100% !important;
  margin-top: 3%;
  padding-right: 2%;
}

#login-box {
  padding-bottom: 30px;
}

#login-box input {
  width: 100%;
  height: 3em;
  border-color: #AAAAAA;
  border-radius: 3px;
  border-width:1.5px;
}

#login-box input:focus {
  border-color: #327F53;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

/* forgot password */
#login-box a{
  float:right;
}

#login-box .btn {
  background-color: #327F53;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

#login-box .btn:hover, #login-box .btn:active, #login-box .btn:focus {
  background-color: #1F5034;
  color: white;
}

#login-box .btn-outline {
  background-color: white;
  color: #327F53;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  border-color: #327F53;
  border-width: 0.1em;
}

.close{
  font-size:42px;
}



.hello {
  color: #727272;
}

.hello:hover {
  color: #5E5E5E;
  text-decoration: none;
}

/* fix for main page click arrow below being cut off */

.col-sm-12 .ngArrowInstructions {
  position: relative;
  bottom: 10px;
}

.csv-data-link-span a {
    color: white;
}

.csv-data-link-span {
    display: block;
    border: 1px white;
}

/* end fix */

#epicurveTitle {
    font-size: 1.5em;
}
/* Tools Tab */
img.opi-chart {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
