/**
* ACES - Mapping
* @author Elliot Maracle
* @version 0.1
*/

/* Table of Contents

- RESET
- GENERAL
- MAP
- RIGHT TOOLBAR
- DATA TAB
- LAYER TAB
- MAP TAB
- MEDIA QUERY

*/

/* ============================ RESET ============================ */

/* ===== Eric Meyer Reset ===== */
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* GENERAL */
.mainWrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.showMenu {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 68px;
    display: none;
    color: #428bca
}

.showMenu:hover {
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

.showLegend {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: none;
    color: #428bca
}

.showLegend:hover {
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

.clickable {
    cursor: pointer
}

/* END OF GENERAL */
/* MAP */
#map {
    position: absolute;
    bottom: 0;
    top: 52px;
    left: 0;
    right: 0px;
    padding: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#HomeButton{
    position: absolute;
    top: 14px;
    left: 23px;
    z-index: 50;
}

.esriLargeSliderTL {
    top: 50px
}

#legend {
    width: 200px;
    background-color: white;
    border: 1px solid #dddddd;
    padding: 10px;
    position: absolute !important;
    z-index: 10000;
    left: 10px;
    bottom: 10px;
    display: none;
    color: #000000
}

.panel {
    border-radius: 0px;
}

.legendTable {
    border: 0px
}

.legendTable td, th {
    border: 0px
}

.legendTable th {
    vertical-align: top
}

.showHideArrow {
    text-decoration: underline;
    text-align: right;
    width: 10px;
    vertical-align: top
}

.toggleColors {
    margin-top: 10px
}

.iWindow {
    display: none
}

.ll-wrapper {
    height: 233px;
    margin: 0;
    overflow-y: auto;
    padding-right: 3px;
}

.ll-previous {
    cursor: pointer;
}

.ll-previous:hover {
    text-decoration: underline;
    color: blue
}

.ll-next {
    cursor: pointer
}

.ll-next:hover {
    text-decoration: underline;
    color: blue
}

.line-listings-controls {
    text-align: right;
    margin-top: 10px;
    padding-right: 3px
}

.line-listings-controls span {
    display: none
}

.line-listings-tbl {
    border-collapse: collapse;
    margin-left: 1px
}

.line-listings-tbl td, .line-listings-tbl th {
    border: 1px black solid;
    padding: 5px;
    cursor: pointer
}

.line-listings-tbl tr:hover {
    background-color: gray
}

.pBarWrapper {
    position: absolute;
    bottom: 0;
    top: 52px;
    left: 0;
    right: 369px;
    padding: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pBar {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    z-index: 15
}

.progressBar {
    text-align: center;
    margin: 0 auto
}

.chartNode {
    width: 300px;
    height: 500px;
    display: none
}

.claro .dijitTooltipDialogPopup {
    box-shadow: none;
}

.claro .dijitPopup {
    box-shadow: none;
}

.dijitPopup {
    background-color: rgba(255, 255, 255, 0);
    border: 0 none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.claro .dijitTooltip, .claro .dijitTooltipDialog {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
}

.dijitTooltipAbove {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.claro .dijitTooltipContainer {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center bottom, rgba(207, 229, 250, 0.1) 0px, #FFFFFF 10px);
    background-position: center bottom;
    border: 1px solid #759DC0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    color: #000000;
    font-size: 1em;
    padding: 6px 8px;
}

.dijitTooltipContainer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #dff0d8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #222222;
    color: #000000;
    font-size: small;
    padding: 5px;
    opacity: 1;
}

.dijitTooltipFocusNode {
    padding: 2px;
}

.claro .dijitTooltipContainer {
    color: #000000;
    font-size: 1em;
}

.dijitBackgroundIframe {
    display: none;
}

.slide:hover {
    cursor: pointer
}

#handle {
    background-color: #FFFFFF;
    color: #A9A9A9;
    cursor: pointer;
    font-size: 10px;
    padding: 3px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #E7E7E7 #E7E7E7;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}

#handle:hover {
    color: #808080;
    border-color: -moz-use-text-color #B5BCC7 #B5BCC7;
    background-color: #FFFFFF;
}

/* END OF MAP*/
/* RIGHT TOOLBAR */
.outsideWrapper {
    border-radius: 4px;
    bottom: 198px;
    overflow-y: auto;
    position: absolute;
    right: 20px;
    top: 111px;
    width: 271px;
	background-color:none;
	border-top: 1px solid #DDDDDD;
}
.nav-wrapper{
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px 0 0;
	top: 69px;
	overflow-y: auto;
	position: absolute;
	width: 271px;
	border-bottom:0px;
	right:20px
}
.edgePanel ul {
    margin-bottom: 0px;
    border-bottom: 0px;
    background-color: white;
    border: 1px #dddddd solid;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px
}

.edgePanel li {
    border-bottom: 0px;
    border-top: 0px;
}

.nav.nav-tabs {
    margin-bottom: 0px
}

ul.nav > li > a.menu-left-border, ul.nav > li.active > a.menu-left-border:hover, ul.nav > li.active > a.menu-left-border:focus {
    border-radius: 4px 0px 0px 0px;
    border-left: 0px
}

ul.nav > li > a.menu-right-border, ul.nav > li.active > a.menu-right-border:hover, ul.nav > li.active > a.menu-right-border:focus {
    border-radius: 0px 0px 4px 0px;
    border-right: 0px
}

ul.nav > li.active > a, ul.nav > li.active > a:hover, ul.nav > li.active > a:focus {
    /*border-top: 1px;
    margin-top: 1px*/
}

#toolbar {
    padding: 10px 14px;
    border: 1px solid #ddd;
    background-color: white;
	border-top:0px;
}

.errorMsg {
    color: red;
    padding-left: 20px
}

/* END OF RIGHT TOOLBAR */
/* - DATA TAB*/
.select-box {
    cursor: pointer;
    margin-bottom: 5px
}

.select-title {
    font-weight: bold;
    color: #bbbbbb
}
.selectPBarWrapper {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
}

.selectPBarWrapper img {
    margin: 5px;
    padding: 0px;
    height: 12px;
}

.form-group {
    margin-bottom: 5px
}
.select-label{
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
	padding-left:4px;
	margin-top:10px
}
.bottom-menu-box{
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	padding-left: 16px;
	padding-right: 27px;
	padding-top: 12px;
	padding-bottom:17px;
	width: 271px;
	min-height:90px
}
.bottom-menu-wrapper{
	position: fixed;
	right: 20px;
	width: 271px;
	bottom:auto;
	top:929px;
}
.bottom-menu-wrapper2{
	position: fixed;
	right: 20px;
	width: 271px;
	bottom:auto;
	top:501px;
}
.bottom-menu-wrapper3{
	position: fixed;
	right: 20px;
	width: 271px;
	bottom:auto;
	top:210px;
}
/* END OF DATA TAB*/

/* - LAYERS TAB*/
.layers ul {
    list-style: none;
    margin: 5px;
    padding: 0px;
    font-size: 14px;
    border: 0px
}

.layers li {
    border-bottom: 1px dotted #cccccc;
    margin-bottom: 15px
}

.layers input {
    float: right;
    margin-right: 10px
}

.layerPointColor {
    border: 1px solid #000000;
    border-radius: 10px;
    float: left;
    margin-top: 4px;
    padding: 6px;
    width: 1px;
    margin-right: 9px
}

.layerPolygonColor {
    float: left;
    margin: 2px 8px 0 0;
    padding: 8px;
    width: 1px;
}

.layerImage {
    float: left;
    margin-left: -8px;
    margin-top: -6px;
    padding: 15px 13px 21px 18px;
}

.c1 {
    background-color: rgb(255, 0, 0)
}

.c2 {
    background-color: rgb(0, 255, 0)
}

.c3 {
    background-color: rgb(0, 0, 255)
}

.c4 {
    background-color: rgb(0, 0, 0)
}

.c5 {
    background-color: rgb(255, 255, 0)
}

.c6 {
    background-color: rgb(0, 255, 255)
}

.c7 {
    background-color: rgb(100, 100, 100)
}

.c8 {
    background-color: rgb(0, 0, 255)
}

.c9 {
    background-color: rgb(255, 174, 201)
}

.c10 {
    background-color: rgb(150, 150, 150)
}

/* END OF LAYERS TAB*/

/* - MAP TAB */
.layerColorGroup {
    margin-bottom: 5px
}

.layerColorGroup ul.dropdown-menu, .borderColorGroup ul.dropdown-menu {
    left: inherit;
    right: 0px;
    float: left;
}

.borderColorGroup {
    margin-bottom: 5px;
}

@media ( max-height: 657px ) {

	.layerColorGroup ul.dropdown-menu{
		right:-85px;
	}
	.borderColorGroup ul.dropdown-menu
	{
		right:-20px;
	}
}
@media ( max-height: 1130px ) {
		.bottom-menu-wrapper{
			top:auto;
			bottom: 109px;
		}
		.outsideWrapper{
		    background-color: #FFFFFF;
		}
}
@media ( max-height: 705px ) {
		.bottom-menu-wrapper2{
			top:auto;
			bottom: 110px;
		}
		.outsideWrapper{
		    background-color: #FFFFFF;
		}
}
/* END OF MAP TAB*/

.layers-title {
    cursor: pointer;
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

#btn-classifier, #btn-classification {
    max-width: 241px;

}

.toolbar-dropdown-btn li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.toolbar-dropdown-btn li:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer
}

a.hide {
    display: block !important
}

.lastRow tr:hover {
    background-color: none
}

.infowindow .window .top .right .user .border {
    display: none
}

.layerLoadingSpinner {
    background-image: url("../lib/loading.gif");
    float: left;
    height: 24px;
    margin-right: 10px;
    margin-top: -5px;
    width: 23px;
}

input[type='checkbox'] {
    cursor: pointer
}


/* For Map tab (not the same as sidebar)*/
#menu-wrapper .btn-primary {
  background-color: #327F53;
  border-width: 0px;
  color: white;
  font-weight: 500;
}

#menu-wrapper .btn-primary:hover {
  background-color: #1F5034;
  border-width: 0px;
  color: white;
}


.new .tab-content {
  border: 0px !important;
}



.aces-map .HomeButton {
    position: absolute;
    top: 14px;
    left: 23px;
    z-index: 50;
}
.aces-map{
    position: absolute;
    bottom: 0;
    top: 52px;
    left: 0;
    right: 0px;
    padding: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ffffff;
}
.aces-map .aces-map-container {
    width: 100%;
    height: 100%;
}
.aces-map .loading {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url("../lib/ajax-loader.gif");
    background-position: center;
    background-color: #ffffff;
    background-repeat: no-repeat;
}
.aces-map .legend {
    position:absolute;
    background-color: #ffffff;
    width: 200px;
    border: 1px solid #dddddd;
    padding: 10px;
    z-index: 10000;
    left: 10px;
    bottom: 10px;
    color: #000000;
}
.aces-map .legend table td{
    padding: 3px;
}
.aces-map .legend .hide-legend{
    position: absolute;
    top: 5px;
    right: 5px;
}

#app-content {
    display: none;
}
