/* GENERAL */
.clickable {
    cursor: pointer
}
/* END OF GENERAL */

/* Slider */
.esriLargeSliderTL {
    top: 50px
}
.slide:hover {
    cursor: pointer
}
/* RIGHT TOOLBAR */
.nav.nav-tabs {
    margin-bottom: 0px
}
.nav.nav-tabs li {
    cursor: pointer;
}
/* END OF RIGHT TOOLBAR */
/* - DATA TAB*/
.new .select-box {
    cursor: pointer;
    margin-bottom: 5px
}

.new .select-title {
    font-weight: bold;
    color: #bbbbbb
} 
.new .selectPBarWrapper {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
}

.new .selectPBarWrapper img {
    margin: 5px;
    padding: 0px;
    height: 12px;
}

.new .form-group {
    margin-bottom: 5px
}
.new .select-label{
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
	padding-left:4px;
	margin-top:10px
}
.new .bottom-menu-box{
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD; 
	padding-left: 16px;
	padding-right: 27px;
	padding-top: 12px;
	padding-bottom:17px; 
	width: 271px;
	min-height:90px
}
.new .bottom-menu-wrapper{  
	position: fixed;
	right: 20px;
	width: 271px;
	bottom:auto;
	top:929px;	  
}
.new .bottom-menu-wrapper2{  
	position: fixed;
	right: 20px;
	width: 271px;
	bottom:auto;
	top:501px;	  
}
.new .bottom-menu-wrapper3{
	position: fixed;
	right: 20px;
	width: 271px;
	bottom:auto;
	top:210px;	  
}
/* END OF DATA TAB*/

/* - LAYERS TAB*/
.new .layers ul {
    list-style: none;
    margin: 5px;
    padding: 0px;
    font-size: 14px;
    border: 0px
}

.new .layers li {
    border-bottom: 1px dotted #cccccc;
    margin-bottom: 15px
}

.new .layers input:checkbox {
    float: right;
    margin-right: 10px
}

.new .layerPointColor {
    border: 1px solid #000000;
    border-radius: 10px;
    float: left;
    margin-top: 4px;
    padding: 6px;
    width: 1px;
    margin-right: 9px
}

.new .layerPolygonColor {
    float: left;
    margin: 2px 8px 0 0;
    padding: 8px;
    width: 1px;
}

.new .layerImage {
    float: left;
    margin-left: -8px;
    margin-top: -6px;
    padding: 15px 13px 21px 18px;
}

.new .c1 {
    background-color: rgb(255, 0, 0)
}

.new .c2 {
    background-color: rgb(0, 255, 0)
}

.new .c3 {
    background-color: rgb(0, 0, 255)
}

.new .c4 {
    background-color: rgb(0, 0, 0)
}

.new .c5 {
    background-color: rgb(255, 255, 0)
}

.new .c6 {
    background-color: rgb(0, 255, 255)
}

.new .c7 {
    background-color: rgb(100, 100, 100)
}

.new .c8 {
    background-color: rgb(0, 0, 255)
}

.new .c9 {
    background-color: rgb(255, 174, 201)
}

.new .c10 {
    background-color: rgb(150, 150, 150)
}

/* END OF LAYERS TAB*/




.main-wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.layer-loading-spinner {
    background-image: url("../lib/loading.gif");
    float: left;
    height: 24px;
    margin-right: 10px;
    margin-top: -5px;
    width: 23px;
}



.aces-map .HomeButton {
    position: absolute;
    top: 14px;
    left: 23px;
    z-index: 50;
}
.aces-map{
    position: absolute;
    bottom: 0;
    top: 52px;
    left: 0;
    right: 0px;
    padding: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ffffff;
}
.aces-map .aces-map-container {
    width: 100%;
    height: 100%;
}
.aces-map .loading {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url("../lib/ajax-loader.gif");
    background-position: center;
    background-color: rgba(255, 255, 255, .4);
    background-repeat: no-repeat;
}
.aces-map .legend,
.aces-map .show-legend{
    position:absolute;
    z-index: 10000;
    left: 10px;
    bottom: 10px;
}
.aces-map .legend {
    background-color: #ffffff;
    width: 200px;
    border: 1px solid #dddddd;
    padding: 10px;
    color: #000000;
}
.aces-map .legend table td{
    padding: 3px;
}
.aces-map .legend .hide-legend{
    position: absolute;
    top: 5px;
    right: 5px;
}

#app-content {
    display: none;
}





.new #menu-wrapper,
.new .show-menu {
    position: absolute;
    right: 20px;
    top: 69px;
}
.new #menu-wrapper{
    width: 271px;
    background-color: #ffffff;
}
/* RIGHT TOOLBAR */
.new .outsideWrapper {
    border-radius: 4px;
    bottom: 198px; 
    overflow-y: auto; 
    position: static;
    right: 0;
    top: 0;
    width: auto;
    background-color:none;
    border-top: 1px solid #DDDDDD;
}
.new .bottom-menu-box{
    background-color: transparent;
    border: 1px solid #DDDDDD;
    border-width: 0;
/*    padding-left: 16px;
    padding-right: 27px;
    padding-top: 12px;
    padding-bottom:17px; */
    padding: 10px;
    width: auto;
    min-height: 0;
}

.new .tab-content{
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #DDDDDD;
    border-top-width: 0;
}

.new .fields{
    height: 50px;
    overflow-y: auto;
}
.new .edge-panel{
    padding-right: 15px;
}
@media (min-height : 300px) {
    .new .fields{
        height: 100px;
    }
}
@media (min-height : 400px) {
    .new .fields{
        height: 100px;
    }
}
@media (min-height : 500px) {
    .new .fields{
        height: 200px;
    }
}
@media (min-height : 600px) {
    .new .fields{
        height: 300px;
    }
}
@media (min-height : 700px) {
    .new .fields{
        height: 400px;
    }
}
@media (min-height : 800px) {
    .new .fields{
        height: 500px;
    }
}
@media (min-height : 900px) {
    .new .fields{
        height: 600px;
    }
}
@media (min-height : 1000px) {
    .new .fields{
        height: 650px;
    }
}
@media (min-height : 1050px) {
    .new .fields{
        height: auto;
    }
}


/* Col paddings */
.new #menu-wrapper .form-group {
  /* reduce col padding */
  margin-right: -5px;
  margin-left: -5px;
}
.new #menu-wrapper .form-group .col {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}