<div class="pull-right ngArrowInstructions">Click arrow below for more options.</div> 
<h2 style="color: #4d4c3a;"> {{caption}} 
    <span ng-show="(data.options.params.Queries.class.id != 'All' && data.options.modalSelected == true)" tooltip="{{data.options.params.Queries.class.description}}" tooltip-append-to-body="true" tooltip-placement="bottom"> 
       <b>{{data.options.params.Queries.class.id}}</b> ({{data.options.params.Queries.class.description }})
    </span>  
</h2>   
<k-grid></k-grid>
