<h1>Site administration</h1>
<div class="container site-admin">
	<div class="row">
		<div class="col-md-2  site-admin-col1">
			<div class="panel panel-default">
				<div class="panel-heading">User Management</div>
				<div class="panel-body">
					<ul class="nav  nav-pills nav-stacked">
						<li><a ui-sref="app.admin.users.list" ng-class="{active: $state.is('app.admin.users.list')}">Users</a></li>
						<li><a ui-sref="app.admin.users.create" ng-class="{active: $state.is('app.admin.users.create')}">Create User</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-10 site-admin-col2">
			<div ui-view></div>
		</div>
	</div>
</div>