<div class="panel panel-default">
    <div class="panel-body">
        <h2>{{title}}</h2>
        <form class="form-horizontal" ng-submit="submit()">
            <div class="row">
                <div class="col-md-offset-1 col-md-9">
                    <div growl inline="true" inline="true" reference="1"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': errors.UserName}">
                <label class="col-sm-3 col-md-2 control-label" for="user-username">Username</label>
                <div class="col-sm-9 col-md-3">
                    <input type="text" class="form-control" ng-class="{'input-loading': usernameValidating}" ng-model="user.UserName" id="user-username" placeholder="Username">
                    <span class="help-block" ng-show="errors.UserName.taken">The username entered is not available.</span>
                    <span class="help-block" ng-show="errors.UserName.invalidLength">Username must be at least 4 characters.</span>
                </div>
            </div>
            <div class="form-group">
                <span  ng-class="{'has-error': errors.Password}">
                    <label class="col-sm-3 col-md-2 control-label" for="user-password">Password</label>
                    <div class="col-sm-9 col-md-3">
                        <input type="password" class="form-control" ng-model="user.Password" id="user-password" placeholder="Password">
                        <span class="help-block" ng-show="errors.Password.invalid">Password must have minimum 6 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.</span>
                    </div>
                </span>
                <span  ng-class="{'has-error': errors.Password2}">
                    <label class="col-sm-3 col-md-2 control-label" for="user-password2">Re-type Password</label>
                    <div class="col-sm-9 col-md-3">
                        <input type="password" class="form-control" ng-model="user.Password2" id="user-password2" placeholder="Re-type Password">
                        <span class="help-block" ng-show="errors.Password2.notSame">Re-type password must be same as password.</span>
                    </div>
                </span>
            </div>
            <div class="form-group">
                <span  ng-class="{'has-error': errors.FName}">
                    <label class="col-sm-3 col-md-2 control-label" for="user-fname">First Name</label>
                    <div class="col-sm-9 col-md-3">
                        <input type="text" class="form-control" ng-model="user.FName" id="user-fname" placeholder="First Name">
                        <span class="help-block" ng-show="errors.FName.required">First name is required.</span>
                    </div>
                </span>
                <label class="col-sm-3 col-md-2 control-label" for="user-lname">Last Name</label>
                <div class="col-sm-9 col-md-3">
                    <input type="text" class="form-control" ng-model="user.LName" id="user-lname" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <span  ng-class="{'has-error': errors.Email}">
                    <label class="col-sm-3 col-md-2 control-label" for="user-email">Email</label>
                    <div class="col-sm-9 col-md-3">
                        <input type="text" class="form-control" ng-model="user.Email" id="user-email" placeholder="Email">
                        <span class="help-block" ng-show="errors.Email.invalid">Invalid email.</span>
                    </div>
                </span>
                <label class="col-sm-3 col-md-2 control-label" for="user-telephone">Telephone</label>
                <div class="col-sm-9 col-md-3">
                    <input type="text" class="form-control" ng-model="user.Telephone" id="user-telephone" placeholder="Telephone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label" for="user-agency">Agency</label>
                <div class="col-sm-9 col-md-8">
                    <input type="text" class="form-control" ng-model="user.Agency" id="user-agency" placeholder="Agency">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label" for="user-position">Position</label>
                <div class="col-sm-9 col-md-8">
                    <input type="text" class="form-control" ng-model="user.Position" id="user-position" placeholder="Position">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label">Active Account</label>
                <div class="col-sm-9 col-md-8">
                    <div class="btn-group">
                        <label class="btn" ng-class="{'btn-success': user.isActive, 'btn-danger': !user.isActive}" ng-model="user.isActive" btn-radio="true">Yes</label>
                        <label class="btn" ng-class="{'btn-success': user.isActive, 'btn-danger': !user.isActive}" ng-model="user.isActive" btn-radio="false">No</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-11">
                    <h3>Resource Access</h3>
                </div>
            </div>
            <div class="form-group">
                <span  ng-class="{'has-error': errors.PermissionType}">
                    <label class="col-sm-3 col-md-2 control-label" for="resources-permission-type">Permission Type</label>
                    <div class="col-sm-9 col-md-3">
                        <select id="resources-permission-type" class="form-control" ng-model="user.PermissionType">
                            <option ng-repeat="option in permissionTypes" value="{{option}}">{{option}}</option>
                        </select>
                        <span id="helpBlock" class="help-block" ng-show="errors.PermissionType">Select a valid permission type.</span>
                    </div>
                </span>
                <span  ng-class="{'has-error': errors.PermissionValue}">
                    <label class="col-sm-3 col-md-2 control-label" for="resources-permission-value">Permission Value</label>
                    <div class="col-sm-9 col-md-3">
                        <select id="resources-permission-value" class="form-control" ng-model="user.PermissionValue">
                            <option ng-repeat="option in permissionValues | orderBy: 'title'" value="{{option.id}}">{{option.title}}</option>
                        </select>
                        <span id="helpBlock" class="help-block" ng-show="errors.PermissionValue">Select a valid permission value.</span>
                    </div>
                </span>
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-success pull-right" ng-click="submit()">Submit</button>
    </div>
</div>