<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">User Details</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">

        <h3>Account Information</h3>
        <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ user.UserName }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Active Account</label>
            <div class="col-sm-9">
                <toggle ng-model="user.isActive" ng-change="updateStatus()" on="Active" off="Disabled"></toggle>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Created On</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ user.CreatedOn | date:'yyyy-MM-dd HH:mm:ss' }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Last Active</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ user.LastActive | date:'yyyy-MM-dd HH:mm:ss' }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="{{inputType}}" ng-model="newPassword" placeholder="Enter new password">
                <button type="button" class="btn btn-primary" ng-click="setNewPassword()">Set</button>
            </div>
            <div class="col-sm-9 col-sm-offset-3">
                <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
                <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
            </div>
        </div>

        <h3>User Information</h3>
        <div class="form-group">
            <label class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
                <p ng-if="!editMode" class="form-control-static">{{ user.FName }}</p>
                <input ng-if="editMode" class="form-control-static user-detail-input" ng-model="editUser.FName"></input>
                <span ng-show="errors.fName.blank" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> First Name can not be blank.
                </span>
                <span ng-show="errors.fName.exceedsLength" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> First Name can not exceed 20 characters.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
                <p ng-if="!editMode" class="form-control-static">{{ user.LName }}</p>
                <input ng-if="editMode" class="form-control-static user-detail-input" ng-model="editUser.LName"></input>
                <span ng-show="errors.lName.blank" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Last Name can not be blank.
                </span>
                <span ng-show="errors.lName.exceedsLength" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Last Name can not exceed 20 characters.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <p ng-if="!editMode" class="form-control-static">{{ user.Email || 'N/A' }}</p>
                <input ng-if="editMode" class="form-control-static user-detail-input" ng-model="editUser.Email"></input>
                <span ng-show="errors.email.blank" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Email can not be blank.
                </span>
                <span ng-show="errors.email.exceedsLength" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Email can not exceed 250 characters.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Agency</label>
            <div class="col-sm-9">
                <p ng-if="!editMode" class="form-control-static">{{ user.Agency || 'N/A' }}</p>
                <input ng-if="editMode" class="form-control-static user-detail-input" ng-model="editUser.Agency"></input>
                <span ng-show="errors.agency.exceedsLength" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Agency can not exceed 500 characters.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Position</label>
            <div class="col-sm-9">
                <p ng-if="!editMode" class="form-control-static">{{ user.Position || 'N/A' }}</p>
                <input ng-if="editMode" class="form-control-static user-detail-input" ng-model="editUser.Position"></input>
                <span ng-show="errors.position.exceedsLength" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Position can not exceed 500 characters.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Telephone</label>
            <div class="col-sm-9">
                <p ng-if="!editMode" class="form-control-static">{{ user.Telephone || 'N/A' }}</p>
                <input ng-if="editMode" class="form-control-static user-detail-input" ng-model="editUser.Telephone"></input>
                <span ng-show="errors.telephone.exceedsLength" class="user-detail-warn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Telephone can not exceed 50 characters.
                </span>
            </div>
        </div>

        <div class="text-center">
            <button ng-if="!editMode" type="button" class="btn btn-default" ng-click="openEditMode()">Edit</button>
            <button ng-if="editMode" type="button" class="btn btn-default" ng-click="cancelEditMode()">Cancel</button>
            <button ng-if="editMode" type="button" class="btn btn-default" ng-click="saveUserInfo()">Save</button>
        </div>

        <h3>Application Settings</h3>
        <div ng-repeat="appSetting in appSettings" class="form-group">
            <label class="col-sm-5 control-label">{{appSetting.PermissionTypeName}}</label>
            <div class="col-sm-7">
              <toggle ng-model="appSetting.PermissionValue" ng-change="updateAppSetting(appSetting)" on="Active" off="Disabled"></toggle>
            </div>
        </div>

    </form>

    <h3>Resource Access</h3>
    <div class="table-responsive" ng-if="resourcesLoading">
        .....
    </div>
    <div class="table-responsive" ng-if="!resourcesLoading">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <th>S.No.</th>
                <th style="width:110px;">Permission Type</th>
                <th style="width:335px;">Permission Value</th>
                <th><!-- --></th>
            </thead>
            <tr ng-repeat="row in resources track by $index">
                <td class="text-right">{{$index + 1}}.</td>
                <td ng-if="currentDeleteResource.ID != row.ID">
                    {{row.PermissionType}}
                </td>
                <td ng-if="currentDeleteResource.ID != row.ID">
                    <span ng-hide="currentEditResource.ID == row.ID">{{row.PermissionValue.title}}</span>
                    <span ng-if="currentEditResource.ID == row.ID">
                        <select id="resources-permission-type" class="form-control" ng-model="currentEditResource.PermissionValue.id">
                            <option ng-repeat="option in permissionValues | orderBy: 'title'" value="{{option.id}}">{{option.title}}</option>
                        </select>
                    </span>
                </td>
                <td ng-if="currentDeleteResource.ID == row.ID" colspan="2">
                    Do you realy want to delete?
                </td>
                <td>
                    <div ng-show="row.CanEdit">
                        <span ng-hide="currentEditResource.ID == row.ID || currentDeleteResource.ID == row.ID">
                            <button class="btn btn-default btn-xs" ng-click="editResource(row)"><em class="glyphicon glyphicon-pencil"></em></button>
                            <button class="btn btn-default btn-xs" ng-click="deleteResource(row)"><em class="glyphicon glyphicon-trash"></em></button>
                        </span>
                        <span ng-show="currentEditResource.ID == row.ID">
                            <button class="btn btn-default btn-xs" ng-click="doEditResource(row)"><em class="glyphicon glyphicon-ok"></em></button>
                            <button class="btn btn-default btn-xs" ng-click="cancelEditResource()"><em class="glyphicon glyphicon-remove"></em></button>
                        </span>
                        <span ng-show="currentDeleteResource.ID == row.ID">
                            <button class="btn btn-default btn-xs" ng-click="doDeleteResource(row)"><em class="glyphicon glyphicon-ok"></em></button>
                            <button class="btn btn-default btn-xs" ng-click="cancelDeleteResource()"><em class="glyphicon glyphicon-remove"></em></button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr ng-show="resources.length == 0 && currentAddResource.ID != 0">
                <td colspan="4">No resources found.</td>
            </tr>
            <tr ng-show="currentAddResource.ID == 0">
                <td class="text-right">&nbsp;</td>
                <td>
                    <div class="form-group" ng-class="{'has-error': addError.PermissionType}">
                        <select id="resources-permission-type" class="form-control" ng-model="currentAddResource.PermissionType">
                            <option ng-repeat="option in permissionTypes" value="{{option}}">{{option}}</option>
                        </select>
                        <span id="helpBlock" class="help-block" ng-show="addError.PermissionType">Select a valid permission type.</span>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-class="{'has-error': addError.PermissionValue}">
                        <select id="resources-permission-type" class="form-control" ng-model="currentAddResource.PermissionValue.id">
                            <option ng-repeat="option in permissionValues | orderBy: 'title'" value="{{option.id}}">{{option.title}}</option>
                        </select>
                        <span id="helpBlock" class="help-block" ng-show="addError.PermissionValue">Select a valid permission value.</span>
                    </div>
                </td>
                <td>
                    <button class="btn btn-default btn-xs" ng-click="doAddResource()"><em class="glyphicon glyphicon-ok"></em></button>
                    <button class="btn btn-default btn-xs" ng-click="cancelAddResource()"><em class="glyphicon glyphicon-remove"></em></button>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <span ng-hide="currentAddResource.ID == 0"><button class="btn btn-default" ng-click="addResource()">Add a Resource</button></span>
        </div>
    </div>
</div>
<div class="modal-footer">
     <button type="button" class="btn btn-danger" ng-click="archiveUser()">Archive User</button>
     <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
