<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ACES</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <!-- Place favicon.ico and le-touch-icon.png in the root directory -->

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="favicon.png">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="lib/vendors/font-awesome-4.3.0/css/font-awesome.min.css">
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="styles/ie.css" />
    <![endif]-->

    <!-- Maps -->
    <link rel="stylesheet" href="//js.arcgis.com/3.8/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="//js.arcgis.com/3.8/js/esri/css/esri.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <!-- EOL -->
    <!-- build:css styles/styles.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/angularjs-slider/dist/rzslider.css"/>
    <link rel="stylesheet" href="styles/bootstrap.xl.css">
    <link rel="stylesheet" href="lib/vendors/angular-grid/ng-grid.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/local.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <!--MUST USE OUR NV.D3.CSS TO PREVENT HALF GRAPHS IN IE-->
    <link rel="stylesheet" href="styles/nv.d3.css">
    <link rel="stylesheet" href="styles/maps.css">
    <link rel="stylesheet" href="styles/mapsnew.css">

    <link rel="stylesheet" href="lib/vendors/angular-bootstrap-colorpicker/css/colorpicker.css">
    <link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="bower_components/intl-tel-input/build/css/intlTelInput.css">
    <script src="lib/js/ads.js"></script>

</head>
<body ng-app="acesApp" ng-controller="LoginCtrl" class="claro">
<img id="loading-indicator" ng-show="SystemStatus.busy()" src="/lib/ajax-loader.gif"/>
<div class="modal-backdrop fade in" ng-show="SystemStatus.busy()"></div>
<!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/ie.outdated.css" />
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<nav class="navbar navbar-default" role="navigation" ng-cloak >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" role="navigation">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="app.user">
            <img class="brand-logo" src="favicon.png" width="51.2" height="32.6">
            <img class="brand-title" src="aces_title.png" width="45.6" height="25">
            <span class="brand-version">v{{ACESVersion}}</span>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul ng-show="auth.isLogged && !auth.forcePasswordChange()" class="nav navbar-nav nav-items">
            <li ng-class="{active: ($state.includes('app.epicurves') && $stateParams.type === 'ED') }">
                <a ui-sref="app.epicurves({type:'ED'})">Epicurves - ED</a>
            </li>
            <li ng-class="{active: ($state.includes('app.epicurves') && $stateParams.type === 'AD') }">
                <a ui-sref="app.epicurves({type:'AD'})">Epicurves - AD</a>
            </li>
            <li ng-show="auth.checkPermission('app.linelistings')" ng-class="{ active: ($state.includes('app.linelistings') && $stateParams.type === 'ED') }">
                <a ui-sref="app.linelistings({type:'ED'})">Line Listings - ED</a>
            </li>
            <li ng-show="auth.checkPermission('app.linelistings')" ng-class="{ active: ($state.includes('app.linelistings') && $stateParams.type === 'AD') }">
                <a ui-sref="app.linelistings({type:'AD'})">Line Listings - AD</a>
            </li>
            <li ng-class="{ active: $state.includes('app.resources') }">
                <a ui-sref="app.resources">Resources</a>
            </li>
            <li ng-class="{ active: $state.includes('app.mapsnew') }">
                <a ui-sref="app.mapsnew">Maps</a>
            </li>
            <li ng-class="{ active: $state.includes('app.alerts') }">
                <a ui-sref="app.alerts.phus">Alerts</a>
            </li>
        </ul>
        <!-- Right side of the navbar -->
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-show="auth.isLogged" dropdown>
                      <a href="#" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Help
                          <span class="caret"></span>
                      </a>
                        <ul class="dropdown-menu">
                            <li><a href ng-click="openContactUs()">Open a Ticket</a></li>
                        </ul>
                    </li>

                    <li class="admin-options dropdown" ng-show="auth.isAdmin" dropdown>
                        <a href="#" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
                            <em class="glyphicon glyphicon-cog"></em>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.admin.users.list">Users</a></li>
                            <li><a ui-sref="app.admin.users.create">Create User</a></li>
                        </ul>
                    </li>

                    <li class="user-profile dropdown" ng-show="auth.isLogged" role="logout" dropdown>
                        <div class="navbar-form">
                            <a class="hello">Hello {{auth.user.name}}</a>
                            <button  class="btn btn-default" dropdown-toggle>
                                <i class="glyphicon glyphicon-user" style="color:white;" aria-hidden="true"></i>
                                <span class="caret"></span>
                            </button>
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="current-phu" ng-show="auth.isAdmin">
                                    <div class="row">
                                        <div class="col col-xs-4">
                                            Current PHU:
                                        </div>
                                        <div class="col col-xs-8">
                                            {{phu.phu}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-xs-4">
                                            Current Hospital:
                                        </div>
                                        <div class="col col-xs-8">
                                            {{hospital.title}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider" ng-show="auth.isAdmin"></li>
                            <li><a ui-sref="app.profile">Profile</a></li>
                            <li><a ui-sref="app.profile.changePassword">Change Password</a></li>
                            <li class="divider" ng-show="auth.checkPermission('app.profile.keywordAlerts')"></li>
                            <li><a ui-sref="app.profile.keywordAlerts" ng-show="auth.checkPermission('app.profile.keywordAlerts')">Keyword Notifications</a></li>
                            <li class="divider"></li>
                            <li><a href="#"  ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<div class="pull-right alert-box" ng-cloak >
    <div class="btn-group " dropdown is-open="alert.isopen">
        <button type="button" class="btn btn-{{latestClass}} dropdown-toggle" ng-disabled="disabled" dropdown-toggle>
            {{ latestMsg }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right " role="menu">
            <li ng-repeat="alert in alertMsgs">
                <alert class="bg-{{alert.type}}" type="alert.type" close="closeAlert($index)">{{ alert.msg }}</alert>
            </li>
        </ul>
    </div>
</div>

<!-- For growls -->
<div growl></div>

<!-- Adblocker Detection Modal -->
<div id="blockedModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Adblocker Detected</b></h4>
            </div>
            <div class="modal-body">
                We have detected you are using an Adblocker which will interfere with parts of this application. Please disable the Adblocker or whilelist this page and refresh the application now.
            </div>
        </div>
    </div>
</div>

<div class="container" ui-view="" ng-cloak id="main-ui-view-content">
</div>

<footer class="container" ng-show="auth.isLogged" ng-cloak>
    <p>&copy; KFLA {{currentyear}}</p>
</footer>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-65960377-1');
    ga('send', 'pageview');
</script>

<!-- build:js scripts/libs.js -->
<script src="bower_components/momentjs/min/moment.min.js"></script>
<script src="lib/js/sha.js"></script>
<script src="lib/js/xml2json.js"></script>
<script src="lib/js/d3.v3.js"></script>
<script src="lib/js/nv.d3-av.js"></script>

<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>

<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- <script src="//code.angularjs.org/1.2.0-rc.3/angular-mocks.js"></script> -->
<!--<script src="scripts/mockhttp.js"></script>-->
<script src="bower_components/underscore/underscore-min.js"></script>
<!-- <script src="bower_components/momentjs/moment.js"></script> -->
<script src="lib/vendors/angular-grid/build/ng-grid.js"></script>
<script src="lib/vendors/angular-grid/plugins/ng-grid-csv-export.js"></script>
<script src="bower_components/angular-ui-date/src/date.js"></script>
<script src="bower_components/ng-csv/build/ng-csv.min.js"></script>

<!-- endbuild -->

<script src="scripts/config.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/routing-config.js"></script>
<script src="scripts/app.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
<script src="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<!--  <script src="scripts/controllers/main.js"></script> -->
<script src="scripts/controllers/body.js"></script>
<script src="scripts/controllers/Auth.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/Auth.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/services/hospitals.js"></script>
<!--<script src="scripts/services/mockHttp.js"></script>-->
<script src="scripts/controllers/epicurves.js"></script>
<script src="scripts/services/epicurves.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/controllers/resources.js"></script>
<script src="scripts/services/utils.js"></script>
<script src="scripts/services/register.js"></script>
<script src="scripts/services/colourList.js"></script>
<script src="scripts/services/visitsByPhu.js"></script>
<script src="scripts/directives/line-chart.js"></script>
<script src="scripts/directives/Auth.js"></script>
<script src="scripts/directives/angularjs-nvd3-directives.js"></script>
<!--<script src="scripts/services/linelistings.js"></script>-->
<script src="scripts/services/admissionsLineListingsByPhu.js"></script>
<script src="scripts/services/lineListingsByPhu.js"></script>
<script src="scripts/services/lineListings.js"></script>
<script src="scripts/controllers/lineListings.js"></script>
<script src="scripts/controllers/lineListingsModal.js"></script>
<script src="scripts/services/ctas.js"></script>
<script src="scripts/services/fsa.js"></script>
<script src="scripts/services/classifications.js"></script>
<script src="scripts/services/classifiers.js"></script>
<script src="scripts/services/classifiedVisitsByPhu.js"></script>
<script src="scripts/services/classifiedByProbabilityVisitsByPhu.js"></script>
<script src="scripts/services/localizedVisitsByPhu.js"></script>
<script src="scripts/services/AlertsByPhu.js"></script>
<script src="scripts/services/Alerts.js"></script>
<script src="scripts/controllers/Alerts.js"></script>
<script src="scripts/controllers/AlertsPhusPhu.js"></script>
<script src="scripts/controllers/AlertsPhusPhuHospital.js"></script>
<script src="scripts/services/buckets.js"></script>
<script src="scripts/services/syndromes.js"></script>

<script src="scripts/directives/acesMap.js"></script>

<script src="scripts/controllers/maps.js"></script>
<script src="scripts/services/acesGeo.js"></script>
<script src="scripts/services/mapQuery.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/services/profile.js"></script>
<script src="scripts/services/systemStatus.js"></script>


<script src="scripts/controllers/admin.js"></script>
<script src="scripts/controllers/adminUsers.js"></script>
<script src="scripts/services/admin.js"></script>

<script src="scripts/controllers/alertModal.js"></script>

<script src="scripts/controllers/help.js"></script>
<script src="scripts/services/help.js"></script>

<script src="scripts/directives/epicurves-form.js"></script>
<script src="scripts/directives/resources-form.js"></script>
<script src="scripts/directives/k-grid.js"></script>
<script src="scripts/directives/line-listings.js"></script>
<script src="lib/js/ng-grid-flexible-height.js"></script>

<script src="scripts/directives/alerts-grid.js"></script>
<script src="scripts/services/alertTypes.js"></script>
<script src="scripts/services/geogTypes.js"></script>
<script src="scripts/services/epiAlerts.js"></script>

<script src="lib/vendors/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
<script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>

<script src="bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>

<script src="bower_components/intl-tel-input/build/js/intlTelInput.js"></script>
<script src="bower_components/intl-tel-input/lib/libphonenumber/build/utils.js"></script>
<script src="bower_components/ng-intl-tel-input/ng-intl-tel-input.module.js"></script>
<script src="bower_components/ng-intl-tel-input/ng-intl-tel-input.provider.js"></script>
<script src="bower_components/ng-intl-tel-input/ng-intl-tel-input.directive.js"></script>
<!-- endbuild -->

<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

<script>
/* only used in dojoConfig below. */
var ACES_dojo = ACES_dojo || {};

ACES_dojo.getBaseURL = function() {
	l = window.location;
	return l.protocol + "//" + l.host;
};

console.log(ACES_dojo.getBaseURL());
var dojoConfig = {
  async: true,
  packages: [{
			  name: "Layers",
			  location: ACES_dojo.getBaseURL() + '/KFLA_dojo/Layers'
		  },
		  {
			  name: "Data",
			  location:  ACES_dojo.getBaseURL() + '/KFLA_dojo/Data'
		  }]
};
</script>
<script src="//js.arcgis.com/3.9/"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //See if app has access to ad file
        if (window.canRunAds === undefined ){
            // adblocker detected
            $('#blockedModal').modal('show');
        }

        //offcanvas
        $('body').on('click', '[data-toggle="offcanvas"]', function () {
            $('.row-offcanvas')
                .toggleClass('active')
                //Change icon right arrow
                .find('.fa')
                .toggleClass('fa-chevron-circle-right');
        });

        //center loading image
        var centerLoadingIndicator = function () {
            $('#loading-indicator')
            .css({
                top: ($(window).height() / 2) - (19/2), //heightof the image is 19
                left: ($(window).width() / 2) - (220/2) //width of the image is 220
            })
            // .position({
            //     // my: 'center',
            //     of: window
            // })
            ;
        };

        $(window).on('resize', function () {
            centerLoadingIndicator();
        });
        centerLoadingIndicator();

    });
</script>


</body>
</html>
