<div id="{{ id }}" class="aces-map-container"></div>
<div id="{{ homeButtonId }}" class="HomeButton"></div>
<div ng-show="!mapReady || !layers.levelOfGeography.ready || !result.ready" class="loading"></div>
<div ng-show="legend.show && legend.display" class="legend">
	<span class="glyphicon glyphicon-resize-small clickable hide-legend" ng-click="hideLegend()"></span>
	<div ng-bind-html="legend.title"></div>
	<table>
		<tr ng-repeat="row in legend.list">
			<td style='padding-right:10px; text-align:center'>
				<div ng-style="{{row.style}}">&nbsp;</div>
			</td>
			<td>
				<div ng-bind-html="row.label"></div>
			</td>
		</tr>
	</table>
	<div ng-bind-html="legend.content"></div>
</div>
<div ng-show="legend.show && !legend.display" class="show-legend btn btn-default" ng-click="showLegend()">
	<i class="glyphicon glyphicon-resize-full"></i> Show Legend
</div>