<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">{{alertData.rowData.AlertTypeID}} Alert for {{displayGeogName}} at {{displayDate}}</h3>
</div>
<div class="modal-body">
    <div ng-show="alertGraphs.length > 1">
        <rzslider
            rz-slider-model="slider.value"
            rz-slider-options="slider.options"></rzslider>
    </div>
    <tabset>
        <tab heading="Graph">
            <div  id="alert-modal-charts">
                <nvd3-line-chart
                        title="AlertID {{alertData.rowData.AlertID}}"
                        data="alertData.alertGraph"
                        id="alertData"
                        width="900"
                        height="{{ (isCusum ? '300' : '600') }}"
                        margin="{left: 80, right: 80}"
                        showxaxis="true"
                        showyaxis="true"
                        xaxislabel="Date"
                        yaxislabel="{{ (isCusum ? 'CuSum Value' : 'Visits') }}"
                        showlegend="true"
                        xAxisTickFormat="xAxisTickFormatFunction()"
                        forcey="{{ forceY }}"
                        xAxisTickValues="xAxisTickValues"
                        interactive="true"
                        tooltips="true"
                        >
                </nvd3-line-chart>

                <nvd3-line-chart ng-show="isCusum"
                        title="AlertID {{alertData.rowData.AlertID}}"
                        data="alertData.alertGraphCusumVisits"
                        id="alertData2"
                        width="900"
                        height="300"
                        margin="{left: 80, right: 80}"
                        showxaxis="true"
                        showyaxis="true"
                        xaxislabel="Date"
                        yaxislabel="Visits"
                        showlegend="true"
                        xAxisTickFormat="xAxisTickFormatFunction()"
                        forcey="{{ cusumForceY }}"
                        xAxisTickValues="xAxisTickValues"
                        interactive="true"
                        tooltips="true"
                        >
                </nvd3-line-chart>
            </div>
            <div class="pull-left">
                <button class="btn btn-default btn-sm" ng-click="download()"><i class="glyphicon glyphicon-download-alt"></i> Download Chart</button>
            </div>
            <tabset >
                <tab class="pull-right" ng-click="isCollapsed = !isCollapsed" heading="">
                    <tab-heading>
                       <i class="glyphicon glyphicon-list-alt"></i> Details
                    </tab-heading>
                    <div collapse="!isCollapsed">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-md-6">
                                    Alert Type: {{alertData.rowData.AlertTypeID}}
                                    <br>
                                    Syndrome: {{alertData.rowData.classTitle}} ({{alertData.rowData.ClassID}})
                                    <br>
                                    Geography: {{displayGeogName}}
                                </div>
                                <div class="col-md-6">
                                    Triggering Visit:
                                    <br>
                                    Triggered On: {{displayDate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </tab>
        <tab heading="Data" ng-show="isCusum">
            <table class="table">
                <thead>
                <tr>
                    <th>24 Hrs Ending</th>
                    <th class="text-right">CUSUM</th>
                    <th class="text-right">Visits</th>
                    <th class="text-right">Avg. Visits</th>
                    <th class="text-right">Std Dev Visits</th>
                    <th class="text-right">Z</th>
                    <th class="text-right">Geography</th>
                    <th class="text-right">Class</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, data) in alertData.alertDetails">
                    <td>{{formatDate(data._dtAdm)}}</td>
                    <td class="text-right">{{data._CUSUM}}</td>
                    <td class="text-right">{{data._Visits}}</td>
                    <td class="text-right">{{data._xVisits}}</td>
                    <td class="text-right">{{data._stdevVisits}}</td>
                    <td class="text-right">{{data._Z}}</td>
                    <td class="text-right">{{data._Geog}}</td>
                    <td class="text-right">{{data._ClassID}}</td>
                </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Data" ng-hide="isCusum">
            <table class="table">
                <thead>
                <tr>
                    <th>24 Hrs Ending</th>
                    <th>Visits</th>
                    <th>Avg. Visits</th>
                    <th>Std Dev Visits</th>
                    <th>UCL</th>
                    <th>2UCL</th>
                    <th>3UCL</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, data) in alertData.alertDetails">
                    <td>{{formatDate(data._dtAdm)}}</td>
                    <td class="right">{{data._Visits}}</td>
                    <td class="right">{{data._xVisits}}</td>
                    <td class="right">{{data._stdevVisits}}</td>
                    <td class="right">{{data._UCL}}</td>
                    <td class="right">{{data._U2CL}}</td>
                    <td class="right">{{data._U3CL}}</td>
                </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</div>