<div class="container-fluid" id="page-alerts">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10">
            <p class="pull-right visible-xs visible-sm">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Menu
                    <i class="fa fa-bars"></i>
                </button>
            </p>
			<div class="row elevation-padding">
                <alerts-grid data="alertsControllerOptions" caption="{{title}}" data-title="{{title}}" auto-height="true"></alerts-grid>
                <span ui-view></span>
            </div>
            <!--/row-->
        </div>
        <!--/span-->

        <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="list-group elevation">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h4 class="list-group-item-heading">Health Unit</h4>
                        </div>
                        <div class="col col-xs-6">
                            <h4 class="list-group-item-heading">Hospitals</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-default btn-block" data-toggle="dropdown" ng-disabled="disabled" tooltip="{{params.phu.phu}}" tooltip-append-to-body="true" tooltip-placement="top">
                                    {{params.phu.phuShortcode}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                    <li class="clickable" dropdown-toggle ng-repeat="phu in phus | orderBy: 'phuShortcode'" tooltip="{{phu.phu}}" tooltip-placement="left" tooltip-append-to-body="true">
                                        <a ng-click="setPhu(phu)">{{phu.phuShortcode}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-default btn-block" data-toggle="dropdown" ng-disabled="disabled" tooltip="{{params.hospital.title}}" tooltip-append-to-body="true" tooltip-placement="top">
                                    {{params.hospital.hospShortcode}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu dropdown-menu-right" role="menu">
                                    <li class="clickable" dropdown-toggle ng-repeat="hospital in hospitals | orderByWithException: 'hospShortcode': 'All'" tooltip="{{hospital.title}}" tooltip-placement="left" tooltip-append-to-body="true">
                                        <a ng-click="setHospital(hospital)">{{hospital.hospShortcode}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-if="displayGeoType">
                  <div class="row">
                      <div class="col col-xs-6">
                          <h4 class="list-group-item-heading">Geography Type</h4>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col col-xs-12">
                          <div class="dropdown">
                              <button type="button" class="btn btn-default btn-block" data-toggle="dropdown" ng-disabled="disabled" tooltip="{{params.geoType.title}}" tooltip-append-to-body="true" tooltip-placement="top">
                                  {{params.geoType.title}} <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu scrollable-menu" role="menu">
                                  <li class="clickable" dropdown-toggle ng-repeat="geoType in geoTypes | orderBy: 'id'" tooltip="{{geoType.title}}" tooltip-placement="left" tooltip-append-to-body="true">
                                      <a ng-click="setGeoType(geoType)">{{geoType.title}}</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                </li>
                <li class="list-group-item">

                    <h4 class="list-group-item-heading">Date Range</h4>
                        <div class="row">
                            <div class="col col-xs-6" ng-class="{'has-error': errors.dateFrom }">
                            <span class="label label-default">Date From:</span>&nbsp&nbsp
                            <span class="glyphicon glyphicon-calendar"></span>
                            <br/>
                            <div class="datepicker-right-align">
                                <input type="text" class="form-control" ng-model="params.dateFrom" init-date="params.dateFrom" ng-click="form.openDateFromPopup($event)" datepicker-options="{{form.dateOptions.formatDay}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateFromOpened" show-button-bar="false" />
                            </div>
                        </div>

                        <div class="col col-xs-6" ng-class="{'has-error': errors.dateTo }">
                            <span class="label label-default">Date To:</span>&nbsp&nbsp
                            <span class="glyphicon glyphicon-calendar"></span>
                            <br/>
                            <div class="datepicker-right-align">
                                <input type="text" class="form-control" ng-model="params.dateTo" init-date="params.dateTo" ng-click="form.openDateToPopup($event)" datepicker-options="{{form.dateOptions.formatDay}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateToOpened" show-button-bar="false" />
                            </div>
                        </div>

                    </div>
                    <div class="row" ng-show="errors.dateFrom || errors.dateTo">
                        <div class="col col-md-12 has-error">
                            <span ng-show="errors.dateFrom.invalidDate" class="help-block">Invalid <em>Date From</em> value.</span>
                            <span ng-show="errors.dateTo.invalidDate" class="help-block">Invalid <em>Date To</em> value.</span>
                            <span ng-show="errors.dateFrom.mustBeSmallerThanDateTo" class="help-block"><em>Date From</em> must be same or before <em>Date To</em>.</span>
                            <span ng-show="errors.dateFrom.futureDate" class="help-block"><em>Date From</em> must be same or before today.</span>
                            <span ng-show="errors.dateTo.futureDate" class="help-block"><em>Date To</em> must be same or before today.</span>
                        </div>
                    </div>

                </li>
                <li class="list-group-item alert-type">
                    <h4 class="list-group-item-heading">Alert Type</h4>
                    <div class="row">
                        <div ng-repeat="alertType in alertTypes | orderBy:'position'"  class="col col-xs-6">
                            <div class="item">
                                <a tooltip="{{alertType.AlertType}}" tooltip-placement="top" ng-class="{'active': isActiveAlertType(alertType.AlertTypeID)}" ng-click="toggleAlertType(alertType.AlertTypeID)">
                                    <i class="glyphicon" ng-class="{'glyphicon-check': isActiveAlertType(alertType.AlertTypeID), 'glyphicon-unchecked': !isActiveAlertType(alertType.AlertTypeID)}"></i> {{alertType.AlertTypeID}}
                                </a>
                            </div>
                        </div>

                        <div class="col col-xs-6">
                            <button tooltip="Check all" class="btn btn-primary btn-xs btn-block" tooltip-placement="top" ng-class="{'disabled': (params.alertTypes.length === alertTypes.length) }" ng-click="selectAllAlertTypes(true)">
                                <i class="glyphicon" ng-class="{'glyphicon-check': (params.alertTypes.length === alertTypes.length), 'glyphicon-unchecked': (params.alertTypes.length !== alertTypes.length)}"></i> Check all
                            </button>
                        </div>
                        <div class="col col-xs-6">
                            <button tooltip="Check none" class="btn btn-primary btn-xs btn-block"  tooltip-placement="top" ng-class="{'disabled': (params.alertTypes.length === 0) }" ng-click="selectAllAlertTypes(false)">
                                <i class="glyphicon" ng-class="{'glyphicon-check': (params.alertTypes.length === 0), 'glyphicon-unchecked': (params.alertTypes.length !== 0)}"></i> Check none
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="errors.alertTypes">
                        <div class="col col-md-12 has-error">
                            <span ng-show="errors.alertTypes.noSelection" class="help-block">Must select at least one alert type.</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item alert-syndrome">
                    <h4 class="list-group-item-heading">Syndrome</h4>
                    <div class="row">
                        <div ng-repeat="syndrome in visibleSyndromes | orderBy:'position'"  class="col col-xs-6">
                            <div class="item">
                                <a tooltip="{{syndrome.title}}" tooltip-placement="top" ng-class="{'active': syndrome.selected}" ng-click="toggleSyndrome(syndrome)">
                                    <i class="glyphicon" ng-class="{'glyphicon-check': syndrome.selected, 'glyphicon-unchecked': !syndrome.selected}"></i> {{syndrome.id}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-6">
                            <button tooltip="Check all" class="btn btn-primary btn-xs btn-block" tooltip-placement="top" ng-class="{'disabled': (selectedVisibleSyndromes === visibleSyndromes.length) }" ng-click="selectAllSyndromes(true, false)">
                                <i class="glyphicon" ng-class="{'glyphicon-check': (selectedVisibleSyndromes === visibleSyndromes.length), 'glyphicon-unchecked': (selectedVisibleSyndromes !== visibleSyndromes.length)}"></i> Check all
                            </button>
                        </div>
                        <div class="col col-xs-6">
                            <button tooltip="Check none" class="btn btn-primary btn-xs btn-block" tooltip-placement="top" ng-class="{'disabled': (selectedVisibleSyndromes === 0) }" ng-click="selectAllSyndromes(false, false)">
                                <i class="glyphicon" ng-class="{'glyphicon-check': (selectedVisibleSyndromes === 0), 'glyphicon-unchecked': (selectedVisibleSyndromes !== 0)}"></i> Check none
                            </button>
                        </div>
                        <div class="col col-xs-12" ng-show="optionalSyndromes.length > 0">
                            <div class="dropup">
                                <button type="button" class="btn btn-default btn-block" data-toggle="dropdown">
                                    More syndromes <span class="label label-default label-as-badge" ng-class="{ 'label-success': selectedOptionalSyndromes > 0 }">{{ selectedOptionalSyndromes }}</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right optional-syndromes" role="menu" ng-click="$event.stopPropagation();">
                                    <div class="container-fluid">
                                        <div class="row list">
                                            <div ng-repeat="syndrome in optionalSyndromes"  class="col col-xs-6 col-sm-3">
                                                <div class="item">
                                                    <a tooltip-container="body" tooltip="{{syndrome.title}}" tooltip-placement="top" ng-class="{'active': syndrome.selected}" ng-click="toggleSyndrome(syndrome)">
                                                        <i class="glyphicon" ng-class="{'glyphicon-check': syndrome.selected, 'glyphicon-unchecked': !syndrome.selected}"></i> {{syndrome.id}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-xs-6 col-sm-3">
                                                <button tooltip="Check all" class="btn btn-primary btn-block btn-xs" tooltip-placement="top" ng-class="{'disabled': (selectedOptionalSyndromes === optionalSyndromes.length) }" ng-click="selectAllSyndromes(true, true)">
                                                    <i class="glyphicon" ng-class="{'glyphicon-check': (selectedOptionalSyndromes === optionalSyndromes.length), 'glyphicon-unchecked': (selectedOptionalSyndromes !== optionalSyndromes.length)}"></i> Check all
                                                </button>
                                            </div>
                                            <div class="col col-xs-6 col-sm-3">
                                                <button tooltip="Check none" class="btn btn-primary btn-block btn-xs" tooltip-placement="top" ng-class="{'disabled': (selectedOptionalSyndromes === 0) }" ng-click="selectAllSyndromes(false, true)">
                                                    <i class="glyphicon" ng-class="{'glyphicon-check': (selectedOptionalSyndromes === 0), 'glyphicon-unchecked': (selectedOptionalSyndromes !== 0)}"></i> Check none
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-block btn-success"
                            ng-click="submit()">
                        Submit
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
