<div class="main-wrapper">

  <div ng-show="auth.isLogged" class="row">
    <div class="col-md-12 text-center">
      <h1>Welcome to ACES</h1>
    <p>You are currently logged in.</br>
    Use the top menu bar to navigate.</p></div>
  </div>
  <div class="row" style="padding-bottom: 2em; margin-top: 3%" ng-hide="auth.isLogged">
    <div class="col-sm-8" style="padding-right: 3em;">
      <h1>Welcome to ACES.</h1>
      <p>The Acute Care Enhanced Surveillance Application</p>
      <p>Please read our <a href='http://www.kflaphi.ca/wp-content/uploads/III40_ACES-User-Accounts.pdf' target='_blank'>User Account policy</a> before registering for an ACES account.</p>
      <div>
      	<div>
      		<h3>Privacy &amp; Security Notice</h3>

    		<p>The Acute Care Enhanced Surveillance Application ("Application") is made available to authorized organizations and their pre-approved users ("Authorized Users"),
           exclusively for approved purposes. All access, use of, and attempt to access the application are logged and actively monitored. Unauthorized access or use of this
            application may subject you to disciplinary or legal action.</p>
    		<p>By clicking on the LOGIN button, you are indicating that you are an Authorized User and bound by the User Agreement signed with the approving organization and in this system.</p>
      	</div>
      </div>

    </div>
    <div id="login-box" class="col-sm-4 elevation" style="margin-top:3%;">
      <form ng-hide="auth.isLogged" class="navbar-form navbar-right" name="loginForm" role="login" ng-submit="login()" method="post">
          <div class="form-group">
              <label for="username">Username</label>
              <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                <input type="text" class="form-control" ng-model="login.userid" name="username" placeholder="Username" aria-label="Username">
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="inner-addon right-addon">
              <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
              <input type="password" class="form-control" ng-model="login.pswd" name="password" placeholder="Password" aria-label="Password">
            </div>
          </div>

          <div class="form-group">
            <a role="menuitem" ui-sref="app.forgotpassword">Forgot Password?</a>
          </div>
          <div class="form-group">
              <button type="submit" class="btn hidden-devices"
              ng-disabled="loginForm.$invalid" aria-label="log in">Log in</button>
          </div>
          <div class="form-group">
              <hr>
              <a ng-click="registerModal()" class="btn btn-outline" aria-label="Sign up">Sign up</a>
          </div>

      </form>

    </div>
  </div>
</div>
<div class="row"><img src="waves.svg" class="fixed-bottom" alt=""></div>
