<tabset id="epicurves-form" class="elevation">
    <tab heading="Tools">
        <ul class="list-group">
			<li class="list-group-item">
				<div class="row">
					<div class="alert alert-info" ng-show="groupingWarning" role="alert">
						<button type="button" class="close" aria-label="Close" ng-click="clearGroupingWarning()"><span aria-hidden="true">&times;</span></button>
						{{ groupingWarning }}
					</div>
					<div ng-show="groupingWarning">&nbsp&nbsp</div>
				</div>
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="list-group-item-heading">Health Unit</h4>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="list-group-item-heading">Hospitals</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="btn-group btn-block" dropdown>
                            <button type="button" class="btn btn-default btn-block dropdown-toggle" ng-disabled="disabled" tooltip="{{params.phu.phu}}" tooltip-append-to-body="true" tooltip-placement="top" dropdown-toggle>
                                <span class="text">{{params.phu.phuShortcode}}</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li class="clickable" ng-repeat="phu in phus | orderBy: 'phuShortcode'" tooltip="{{phu.phu}}" tooltip-placement="left" tooltip-append-to-body="true">
                                    <a ng-click="setPhu(phu)">{{phu.phuShortcode}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-6">
                        <div class="btn-group btn-block" dropdown>
                            <button type="button" class="btn btn-default btn-block dropdown-toggle" ng-disabled="disabled" tooltip="{{params.hospital.title}}" tooltip-append-to-body="true" tooltip-placement="top" dropdown-toggle>
                                <span class="text">{{params.hospital.hospShortcode}}</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-menu dropdown-menu-right" role="menu">
                                <li class="clickable" ng-repeat="hospital in hospitals | orderByWithException: 'hospShortcode': 'All'" tooltip="{{hospital.title}}" tooltip-placement="left" tooltip-append-to-body="true">
                                    <a ng-click="setHospital(hospital)">{{hospital.hospShortcode}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item" ng-hide="params.isEpicurve === undefined">
                <h4 class="list-group-item-heading">Date Grouping</h4>

                <div class="btn-group btn-block" dropdown>
                    <button type="button" class="btn btn-default btn-block dropdown-toggle" dropdown-toggle>
                        <span class="text">{{params.grouping.title}}</span>
                        <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li ng-repeat="grouping in groupings">
                            <a class="clickable" ng-click="setGrouping(grouping);adjustDateFrom();adjustDateTo(false);">
                               {{grouping.title}}
                           </a>
                        </li>
                   </ul>
                </div>

            </li>

            <li class="list-group-item">
                <h4 class="list-group-item-heading">Date Range</h4>

                <!-- By Day -->
                <div class="row" ng-show="params.selectedGroup == 'D'">
                    <div class="col col-xs-6" ng-class="{'has-error': errors.dateFrom }">
                        <span class="label label-default">Date From:</span>&nbsp&nbsp
                        <span class="glyphicon glyphicon-calendar"></span>
                        <br/>
                        <div class="datepicker-right-align">
                            <input type="text" class="form-control" ng-model="params.dateFrom" init-date="params.dateFrom" ng-click="form.openDateFromPopup($event)" datepicker-options="{{form.dateOptions.formatDay}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateFromOpened" show-button-bar="false" />
                        </div>
                    </div>

                    <div class="col col-xs-6" ng-class="{'has-error': errors.dateTo }">
                        <span class="label label-default">Date To:</span>&nbsp&nbsp
                        <span class="glyphicon glyphicon-calendar"></span>
                        <br/>
                        <div class="datepicker-right-align">
                            <input type="text" class="form-control" ng-model="params.dateTo" init-date="params.dateTo" ng-click="form.openDateToPopup($event)" datepicker-options="{{form.dateOptions.formatDay}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateToOpened" show-button-bar="false" />
                        </div>
                    </div>
                </div>

                <!-- By Week -->
                <div class="row" ng-show="params.selectedGroup == 'W'">
                    <b>Week Start</b><br>
                    <div class="btn-group btn-group-justified">
                        <label ng-repeat="weekStart in weekStarts" class="btn btn-default" ng-model="params.weekStart" ng-change="adjustDateFrom();adjustDateTo(true);" btn-radio="weekStart.id">{{weekStart.title}}</label>
                    </div>
                    <br/>
                    <div ng-show="params.weekStart == 7">
                        <div class="col col-xs-6" ng-class="{'has-error': errors.dateFrom }">
                            <span class="label label-default">Date From:</span>&nbsp&nbsp
                            <span class="glyphicon glyphicon-calendar"></span>
                            <br/>
                            <div class="datepicker-right-align">
                                <input class="text-center form-control" ng-model="params.dateFrom" init-date="params.dateFrom" ng-click="form.openDateFromPopup($event)" ng-change="adjustDateFrom()" datepicker-options="{{form.dateOptions.formatWeek}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateFromOpened" show-button-bar="false" />
                            </div>
                        </div>
                        <div class="col col-xs-6" ng-class="{'has-error': errors.dateTo }">
                            <span class="label label-default">Date To:</span>&nbsp&nbsp
                            <span class="glyphicon glyphicon-calendar"></span>
                            <br/>
                            <div class="datepicker-right-align">
                                <input class="text-center form-control" ng-model="params.dateTo" init-date="params.dateTo" ng-click="form.openDateToPopup($event)" ng-change="adjustDateTo(false)" datepicker-options="{{form.dateOptions.formatWeek}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateToOpened" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div ng-show="params.weekStart == 1">
                        <div class="col col-xs-6" ng-class="{'has-error': errors.dateFrom }">
                            <span class="label label-default">Date From:</span>&nbsp&nbsp
                            <span class="glyphicon glyphicon-calendar"></span>
                            <br/>
                            <div class="datepicker-right-align">
                                <input class="text-center form-control" ng-model="params.dateFrom" init-date="params.dateFrom" ng-click="form.openDateFromPopup($event)" ng-change="adjustDateFrom()" datepicker-options="{{form.dateOptions.formatIsoWeek}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateFromOpened" show-button-bar="false" />
                            </div>
                        </div>
                        <div class="col col-xs-6" ng-class="{'has-error': errors.dateTo }">
                            <span class="label label-default">Date To:</span>&nbsp&nbsp
                            <span class="glyphicon glyphicon-calendar"></span>
                            <br/>
                            <div class="datepicker-right-align">
                                <input class="text-center form-control" ng-model="params.dateTo" init-date="params.dateTo" ng-click="form.openDateToPopup($event)" ng-change="adjustDateTo(false)" datepicker-options="{{form.dateOptions.formatIsoWeek}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateToOpened" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- By Month -->
                <div class="row" ng-show="params.selectedGroup == 'M'">
                    <div class="col col-xs-6" ng-class="{'has-error': errors.dateFrom }">
                        <span class="label label-default">Date From:</span>&nbsp&nbsp
                        <span class="glyphicon glyphicon-calendar"></span>
                        <br/>
                        <div class="datepicker-right-align">
                            <input class="text-center form-control" ng-model="params.dateFrom" init-date="params.dateFrom" ng-click="form.openDateFromPopup($event)" ng-change="adjustDateFrom()" datepicker-options="{{form.dateOptions.formatMonth}}" datepicker-popup="yyyy-MM" datepicker-mode="'month'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateFromOpened" show-button-bar="false" />
                        </div>
                    </div>

                    <div class="col col-xs-6" ng-class="{'has-error': errors.dateTo }">
                        <span class="label label-default">Date To:</span>&nbsp&nbsp
                        <span class="glyphicon glyphicon-calendar"></span>
                        <br/>
                        <div class="datepicker-right-align">
                            <input class="text-center form-control" ng-model="params.dateTo" init-date="params.dateTo" ng-click="form.openDateToPopup($event)" ng-change="adjustDateTo(false)" datepicker-options="{{form.dateOptions.formatMonth}}" datepicker-popup="yyyy-MM" datepicker-mode="'month'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateToOpened" show-button-bar="false" />
                        </div>
                    </div>
                </div>

                <!-- By Year -->
                <div class="row" ng-show="params.selectedGroup == 'Y'">
                    <div class="col col-xs-6" ng-class="{'has-error': errors.dateFrom }">
                        <span class="label label-default">Date From:</span>&nbsp&nbsp
                        <span class="glyphicon glyphicon-calendar"></span>
                        <br/>
                        <div class="datepicker-right-align">
                            <input class="text-center form-control" ng-model="params.dateFrom" init-date="params.dateFrom" ng-click="form.openDateFromPopup($event)" ng-change="adjustDateFrom()" datepicker-options="{{form.dateOptions.formatYear}}" datepicker-popup="yyyy" datepicker-mode="'year'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateFromOpened" show-button-bar="false" />
                        </div>
                    </div>

                    <div class="col col-xs-6" ng-class="{'has-error': errors.dateTo }">
                        <span class="label label-default">Date To:</span>&nbsp&nbsp
                        <span class="glyphicon glyphicon-calendar"></span>
                        <br/>
                        <div class="datepicker-right-align">
                            <input class="text-center form-control" ng-model="params.dateTo" init-date="params.dateTo" ng-click="form.openDateToPopup($event)" ng-change="adjustDateTo(false)" datepicker-options="{{form.dateOptions.formatYear}}" datepicker-popup="yyyy" datepicker-mode="'year'" min-date="form.dateOptions.minDate" max-date="form.dateOptions.maxDate" is-open="form.dateToOpened" show-button-bar="false" />
                        </div>
                    </div>
                </div>

                <!--Validation -->
                <div class="row" ng-show="errors.dateFrom || errors.dateTo">
                    <div class="col col-md-12 has-error">
                        <span ng-show="errors.dateFrom.mustBeSmallerThanDateTo" class="help-block"><em>Date From</em> must be same or before <em>Date To</em>.</span>
                        <span ng-show="errors.dateFrom.futureDate" class="help-block"><em>Date From</em> must be same or before today.</span>
                        <span ng-show="errors.dateTo.futureDate" class="help-block"><em>Date To</em> must be same or before today.</span>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <h4 class="list-group-item-heading">Sex</h4>


                <div class="btn-group btn-group-justified">
                    <label ng-repeat="gender in genders" class="btn btn-default" ng-model="params.gender" btn-radio="gender.id">{{gender.title}}</label>
                </div>
            </li>

            <li class="list-group-item container-fluid">
                <h4 class="list-group-item-heading">Age</h4>

                <div class="row">
                    <div class="col col-xs-12 col-lg-5">
                       <div class="btn-group btn-block" dropdown>
                          <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle dropdown-toggle>
                            <span class="text">{{getAgeDesc()}}</span>
                            <span class="caret"></span>
                          </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="ageGroup in ageGroups">
                                    <a class="clickable" ng-click="setAge(ageGroup)">{{ageGroup.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-6 col-lg-3" ng-class="{'has-error': errors.fromAge }">
                        <input class="form-control" type="text" id="fromAge" placeholder="0" ng-model="params.fromAge"/>
                    </div>
                    <div class="col col-xs-6 col-lg-4" ng-class="{'has-error': errors.toAge }">
                        <input class="form-control" type="text" id="toAge" placeholder="130" ng-model="params.toAge"/>
                    </div>
                </div>
                <div class="row" ng-show="errors.fromAge || errors.toAge">
                    <div class="col col-md-12 has-error">
                        <span ng-show="errors.fromAge.mustBeSmallerThanToAge" class="help-block"><em>From age</em> must be same or lower than <em>To Age</em>.</span>
                        <span ng-show="errors.fromAge.invalid" class="help-block"><em>From Age</em> must be a valid number.</span>
                        <span ng-show="errors.toAge.invalid" class="help-block"><em>To Age</em> must be a valid number.</span>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <h4 class="list-group-item-heading">Classifications</h4>
                <div class="row">
                    <div class="col col-xs-6">
                        <b>Classifier</b><br>
                        <div class="btn-group btn-block" dropdown>

                            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle tooltip="{{params.classification.title}}" tooltip-append-to-body="true" tooltip-placement="top" dropdown-toggle>
                                <span class="text">{{params.classification.id}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li ng-repeat="classification in classifications | orderBy: 'title'">
                                    <a class="clickable" ng-click="setClassification(classification)">
                                        {{classification.title}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-6">
                         <b>Bucket</b><br>
                        <div class="btn-group btn-block" dropdown>
                            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle tooltip="{{params.bucket.Bucket}}" tooltip-placement="top" dropdown-toggle>
                                <span class="text">{{params.bucket.BucketID}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu">
                                <li ng-repeat="bucket in buckets">
                                    <a class="clickable" ng-click="resetBucket(bucket)">
                                        {{bucket.Bucket}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                    <b>Syndrome</b><br>
                    <div class="dropup" ng-class="{'has-error': errors.syndromes }">
                        <button type="button" class="btn btn-default btn-block" data-toggle="dropdown" tooltip="{{syndromeList}}">
                            Selected
                            <span class="label label-default label-as-badge" tooltip-placement="top" ng-class="{ 'label-success': selectedSyndromes > 0 }">{{ selectedSyndromes }}</span>&nbsp;
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right epicurves-form-syndromes" role="menu" ng-click="$event.stopPropagation();">
                            <div class="container-fluid">
                                <div class="row list">
                                    <div ng-repeat="syndrome in syndromes" class="col col-xs-6 col-sm-3">
                                        <div class="item">
                                            <a tooltip-container="body" tooltip="{{syndrome.title}}" tooltip-placement="top" ng-class="{'active': syndrome.selected}" ng-click="toggleSyndrome(syndrome)">
                                                <i class="glyphicon" ng-class="{'glyphicon-check': syndrome.selected, 'glyphicon-unchecked': !syndrome.selected}"></i> {{syndrome.id}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-xs-6 col-sm-3">
                                        <button tooltip="Check none" class="btn btn-primary btn-block btn-xs" tooltip-placement="top" ng-class="{'disabled': (selectedSyndromes === 0) }" ng-click="clearSyndromes()">
                                            <i class="glyphicon" ng-class="'glyphicon-warning-sign'"></i> Clear
                                        </button>
                                    </div>
                                    <div class="col col-xs-6 col-sm-3 pull-right">
                                        <span>Selected: {{selectedSyndromes}}/5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="row" ng-show="errors.syndromes">
							<div class="col col-md-12 has-error">
								<span class="help-block">There must be at least 1 <em>Syndrome</em> selected.</span>
							</div>
						</div>
                    </div>

                    <!-- *Algorithm will be set to ME only
                    <div class="col col-xs-6">
                        <b>NLP Algorithm</b><br>

                        <div class="btn-group btn-block" dropdown>
                            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle tooltip="{{params.classifier.Classifier}}" tooltip-append-to-body="true" tooltip-placement="top" dropdown-toggle>
                                <span class="text">{{params.classifier.ClassifierID}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu">
                                <li ng-repeat="classifier in classifiers | orderBy: 'ClassifierID'"  tooltip="{{classifier.Description}}" tooltip-append-to-body="true" tooltip-placement="left">
                                    <a class="clickable" ng-click="setClassifier(classifier)">
                                        {{classifier.Classifier}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    -->
                </div>
            </li>

            <li class="list-group-item" ng-hide="params.admissionType === 'AD'">
                <h4 class="list-group-item-heading">CTAS</h4>
                <div class="btn-group  btn-block">
                    <button class="btn btn-default btn-sm" ng-repeat="c in ctas | orderBy:'TriageID'" ng-class="{active: isActiveCta($index)}" ng-click="setCta($index)" tooltip-html-unsafe="{{getCtaTooltipText(c)}}" tooltip-placement="top" tooltip-append-to-body="true" >{{c.TriageID}}</button>
                </div>
            </li>

            <li class="list-group-item">
                <button type="button" class="btn btn-block btn-danger" ng-click="doReset(1)">
                    Reset
                </button>
                <button type="button" class="btn btn-block btn-success" ng-click="doSubmit()">
                    Submit
                </button>
            </li>
        </ul>
    </tab>
    <tab>
        <tab-heading>
            <p>Advanced&nbsp;<span class="label label-default label-as-badge" ng-hide="fltrcount === 0">{{fltrcount}}<span></p>
        </tab-heading>

        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Locality</h4>
                <div class="alert alert-danger" ng-show="localityError" role="alert">
                    <button type="button" class="close" aria-label="Close" ng-click="clearLocalityError()"><span aria-hidden="true">&times;</span></button>
                    {{ localityError }}
                </div>
                <b>Patients</b><br>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle dropdown-toggle>
                        {{params.patientLocality.title}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="patientLocality in patientLocalities">
                            <a class="clickable" ng-click="setPatientLocality(patientLocality)">
                                {{patientLocality.title}}
                            </a>
                        </li>
                    </ul>
                </div>
                <br>
                <b>Hospitals</b><br>

                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle dropdown-toggle>
                        {{params.hospitalLocality.title}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="hospitalLocality in hospitalLocalities">
                            <a class="clickable" ng-click="setHospitalLocality(hospitalLocality)">
                                {{hospitalLocality.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">FSA</h4>

                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle dropdown-toggle>
                        {{params.fsa.title}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li ng-repeat="fsa in fsas |  orderBy: 'title'">
                            <a class="clickable" ng-click="setFsa(fsa)" title="{{fsa.title}}">{{fsa.title}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item" ng-hide="params.admissionType === 'ED'">
                <h4 class="list-group-item-heading">Admission Type</h4>

                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle dropdown-toggle>
                        {{params.fltrAmType.title}} <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li ng-repeat="fltrAmType in fltrAmTypes">
                            <a class="clickable" ng-click="setFltrAmType(fltrAmType);">{{fltrAmType.title}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-block btn-danger" ng-click="doReset(2)">
                    Reset
                </button>
                <button type="button" class="btn btn-block btn-success" ng-click="doSubmit()">
                    Submit
                </button>
            </li>
        </ul>
    </tab>
</tabset>
