<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10">
            <p class="pull-right visible-xs">
                <button type="button" class="btn-offcanvas btn btn-primary btn-xs" data-toggle="offcanvas">
                    Tools
                    <i class="fa fa-bars"></i>
                </button>
            </p>
            <div class="row elevation-padding">
                <div style="float:right; margin-right:30px;">
                    <table width="100%">
                    <tr>

                    <td><span ng-show="normalize"><b>Normalize</b></span></td>
                    <td width="50"></td>
                    <td><b>Moving Average</b></td>
                    <td width="50"></td>
                    <td><b>Standard Deviation</b></td>
                    <td width="50" ng-show="!disableAlerts"></td>
                    <td ng-show="!disableAlerts"><b>Alerts</b></td>
                    </tr>
                    <tr>
                    <td>
                        <button ng-show="normalize" type="button" title="Show percentage of All Visits" class="btn btn-default" ng-class="{active : nm === 0, disabled: ma !== 0 || std1 || std2}" ng-click="setNormalize(0)">Off</button>
                        <button ng-show="normalize" type="button" title="Show percentage of All Visits" class="btn btn-default" ng-class="{active : nm === 1, disabled: ma !== 0 || std1 || std2}" ng-click="setNormalize(1)">On</button>
                    </td><td></td>
                    <td>
                        <div id="maCurrentDiv">
                            <span id="maCurrentSpan" ng-if="ma > 0">{{ma}} day<span ng-if="ma > 1">s</span></span>
                            <span id="maCurrentSpan" ng-if="ma == 0">None</span>
                        </div>
                        <div id="maButtonDiv">
                            <button type="button" class="btn btn-info btn-xs" ng-click="openMovingAverageModal()" ng-disabled="dateGrouped">
                                <i class="fa fa-sliders"></i>
                            </button>
                        </div>
                    </td><td></td>
                    <td>
                        <button id="btnStdDevNone" type="button" class="btn btn-default" ng-class="{active: !(std1 || std2) , disabled: nm === 1}" ng-disabled="dateGrouped" ng-click="setStandardDeviation(0)">None</button>
                        <button id="btnStdDev1" type="button" class="btn btn-default" ng-class="{active: std1, disabled: nm === 1}" ng-disabled="dateGrouped" ng-click="setStandardDeviation(1)">Std 1</button>
                        <button id="btnStdDev2" type="button" class="btn btn-default" ng-class="{active: std2, disabled: nm === 1}" ng-disabled="dateGrouped" ng-click="setStandardDeviation(2)">Std 2</button>
                    </td>
                    <td ng-show="!disableAlerts"></td>
                    <td class="epi-alerts-options" ng-show="!disableAlerts">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle ng-class="{disabled: !allAlertTypes.length}">
                                Select <span class="badge">{{ result.alerts.length }} of {{ allAlerts.length }}</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div ng-repeat="alertType in allAlertTypes"  class="col" ng-class="{'col-sm-6 col-lg-4': allAlertTypes.length >= 3, 'col-sm-6 col-lg-6': (allAlertTypes.length == 2), 'col-sm-12 col-lg-12': (allAlertTypes.length == 1)}">
                                            <a tooltip="{{alertType.AlertType}}" tooltip-trigger="mouseenter" class="btn btn-block btn-default" ng-click="toggleAlertType(alertType)" ng-class="{'btn-success': isActiveAlertType(alertType.AlertTypeID)}">
                                                <i class="glyphicon" ng-class="{'glyphicon-check': isActiveAlertType(alertType.AlertTypeID), 'glyphicon-unchecked': !isActiveAlertType(alertType.AlertTypeID)}"></i> {{alertType.AlertTypeID}} <span class="badge">{{ alertType.alertsCount }}</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="allAlertTypes.length > 1">
                                        <div class="col col-sm-6 col-lg-6">
                                            <a class="btn btn-block btn-success" ng-click="toggleAlertType('all')" ng-class="{disabled: allAlertTypes.length == activeAlertTypes.length}">
                                                <i class="glyphicon glyphicon-check"></i> Select All
                                            </a>
                                        </div>
                                        <div class="col col-sm-6 col-lg-6">
                                            <a class="btn btn-block btn-danger" ng-click="toggleAlertType('none')" ng-class="{disabled: activeAlertTypes.length == 0}">
                                                <i class="glyphicon glyphicon-unchecked"></i> Select None
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    </tr>
                    </table>
                </div>
                <h2 id="epicurveTitle" style="color: #4d4c3a;">{{phu.phu}}</h2>

                <div ui-view>
                    <line-chart val="result" tooltip-content-handler="tooltipContentHandler" legend-tool-tip-content-handler="legendToolTipContentHandler" alert-tooltip-content-handler="alertTooltipContentHandler" disabled-legends="disabledLegends"></line-chart>
                </div>

            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <epicurves-form params="formParams" submit="submit" reset="reset"></epicurves-form>
        </div>
    </div>
</div>
