<div class="jumbotron">
    <h1>Error</h1>

    <div ng-switch="$stateParams.error">
        <p class="text-danger" ng-switch-when="unauthorized">You are not authorized.</p>

        <p class="text-danger" ng-switch-when="401">You are not authorized</p>

        <p class="text-danger" ng-switch-default>Some error has occurred</p>
    </div>
</div>
<hr>