<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10">
        <p class="pull-right visible-xs">
          <button type="button" class="btn-offcanvas btn btn-primary btn-xs" data-toggle="offcanvas">
              Tools
              <i class="fa fa-bars"></i>
          </button>
        </p>
        <div class="row elevation-padding">
          <line-listings data="lineListingsControllerOptions" caption="{{title}}" auto-height="true" hidden-columns="hiddenColumns" disabled-columns="disabledColumns"></line-listings>
          <div id="chart-buttons">
            <button class="btn btn-default btn-sm" type="button" ng-csv="returnCSVData()" csv-header="returnCSVHeader()" filename="{{csvFilename}}" field-separator=",">
              <i class="glyphicon glyphicon-download-alt"></i>
              Download CSV
            </button>
          </div>
        </div>
        <!--/row-->
    </div>
    <!--/span-->

    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <epicurves-form params="formParams" submit="submit" reset="reset"></epicurves-form>
    </div>
  </div>
</div>
