<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Visit Details for Visit ID {{lineListingData.rowData.VisitUUID}}</h3>
</div>
<div class="modal-body line-listing-modal">
    <tabset justified="true">
        <tab heading="Details">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 details-col1">
                        <h4>Details:</h4>
                        <table class="table table-responsive table-hover table-condensed">
                            <!-- <thead>
                                <tr>
                                    <th colspan="2">Hospital</th>
                                </tr>
                            </thead> -->
                            <tbody>
                                <tr>
                                    <td>Hospital:</td><td><small>{{lineListingData.details.Hospital}}</small></td>
                                </tr>
                                <tr>
                                    <td>Hospital PHU:</td><td><small>{{lineListingData.details.HospitalPHU}}</small></td>
                                </tr>
                                <tr>
                                    <td>Hospital LHIN:</td><td><small>{{lineListingData.details.HospitalLHIN}}</small></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <table class="table table-responsive table-hover table-condensed">
                            <tbody>
                                <tr ng-show="rowData.IsAdmission">
                                    <td>Admission Type:</td><td><small>{{lineListingData.details.AdmissionType}}</small></td>
                                </tr>
                                <tr>
                                    <td>Admission On:</td><td><small>{{lineListingData.details.AdmissionDate}}</small></td>
                                </tr>
                                <tr>
                                    <td>Admission Time:</td><td><small>{{lineListingData.details.AdmissionTime}}</small></td>
                                </tr>
                                <tr>
                                    <td>Day of Week:</td><td><small>{{lineListingData.details.AdmissionDofW}}</small></td>
                                </tr>
                                <tr>
                                    <td>Week of Year:</td><td><small>{{lineListingData.details.AdmissionWofY}}</small></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <table class="table table-responsive table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td>CTAS:</td><td><small>{{lineListingData.details.CTAS}}</small></td>
                                </tr>
                                <tr>
                                    <td>Arrive by EMS:</td><td><small>{{lineListingData.details.EMSArrival}}</small></td>
                                </tr>
                                <tr>
                                    <td>FRI:</td><td><small>{{lineListingData.details.FRIScore}}</small></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <table class="table table-responsive table-hover table-condensed">
                            <tbody>
                                <tr ng-hide="!Auth.isAdmin">
                                    <td>Postal Code:</td><td>{{lineListingData.details.AssignedFSALDU}}</small></td>
                                </tr>
                                <tr>
                                    <td>County:</td><td><small>{{lineListingData.details.PatientCD}}</small></td>
                                </tr>
                                <tr>
                                    <td>Municipality :</td><td><small>{{lineListingData.details.PatientCSD}}</small></td>
                                </tr>
                                <tr>
                                    <td>Patient LHIN:</td><td><small>{{lineListingData.details.PatientLHIN}}</small></td>
                                </tr>
                                <tr>
                                    <td>Patient PHU:</td><td><small>{{lineListingData.details.PatientPHU}}</small></td>
                                </tr>
                                <tr>
                                    <td>Patient CD:</td><td><small>{{lineListingData.details.PatientCD}}</small></td>
                                </tr>
                                <tr>
                                    <td>Patient CSD:</td><td><small>{{lineListingData.details.PatientCSD}}</small></td>
                                </tr>
                                <tr>
                                    <td>Patient FSA:</td><td><small>{{lineListingData.details.PatientFSA}}</small></td>
                                </tr>
                                <tr>
                                    <td>Patient Sex:</td><td><small>{{lineListingData.details.PatientGender}}</small></td>
                                </tr>
                                <tr>
                                    <td>Patient Age:</td><td><small>{{lineListingData.details.Patientage}}</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h4>Chief Complaint:</h4>

                        <div class="panel panel-danger">
                            <div class="panel-body">
                                {{lineListingData.details.ChiefComplaint}}-
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Most Likely Syndromes
                            </div>
                            <div class="panel-body">
                                <table class="table"
                                       ng-repeat="(classificationId, classifiers) in lineListingData.details.classifications">
                                    <!--<thead ng-click="isCollapsed = !isCollapsed">-->
                                    <thead>
                                        <th>{{classificationId}}:</th>
                                        <th>Classifier</th>
                                        <th colspan="2">Syndrome</th>
                                    </thead>
                                    <!--<tbody collapse="!isCollapsed">-->
                                    <tbody>
                                        <tr ng-show="classificationId == 'S2014' && key == 'MAXIMUM ENTROPY'"
                                            ng-repeat="key in keys">
                                            <td></td>
                                            <td>{{key}}</td>
                                            <td>
                                                <div ng-repeat="data in classifiers[key] | orderBy:'probability':true">
                                                    {{data.syndrome}}
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-show="key == 'MAXIMUM ENTROPY'"
                                                     ng-repeat="data in classifiers[key] | orderBy:'probability':true">
                                                    {{data.probability * 100 | number:0}}%
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab ng-hide="rowData.IsAdmission">
            <tab-heading>
                Alerts <span class="label label-default label-as-badge" ng-class="{'label-danger': (lineListingData.alerts.length > 0)}">{{lineListingData.alerts.length}}</span>
            </tab-heading>
            <div class="container-fluid">
                <div class="row">
                    <h4>Alerts:</h4>

                    <div class="col-sm-6">
                        This visit triggered an alert: <span class="label label-danger" ng-show="lineListingData.alerts.length">YES</span> <span class="label label-success" ng-show="!lineListingData.alerts.length">No</span>
                    </div>
                    <alerts-grid ng-show="lineListingData.alerts" data="lineListingData.alerts" auto-height="false" geo-name-cell-template="1" enable-paging="false" hidden-columns="['AlertUUID']"></alerts-grid>
                </div>
            </div>
        </tab>
        <tab heading="Metadata">
            <div class="container-fluid">
                <div class="row">
                    <span class="h4">Metadata</span>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Record Generated: {{lineListingData.details.AdmissionDate}}
                        {{lineListingData.details.AdmissionTime}}<br>
                        Recieved KFLA: {{lineListingData.details.CreatedOn}}<br>
                        Syndrome Classified: {{lineListingData.details.SyndromeClassified}}<br>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Record Amended: {{lineListingData.details.Amended}}<br>
                        Discharged:<br>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>