<div id="main-wrapper" class="main-wrapper new">

	<div aces-map class="aces-map" layers="layers" current-search-params="currentSearchParams" result="result" selectable-layers="selectableLayers">Loading</div>



	<form class="form-horizontal container" role="form">


		<div id="menu-wrapper" ng-show="params.visible" class="elevation">

			<tabset justified="true">
				<tab heading="Data">
					<div class="data">
						<div class="fields">
							<div class="edge-panel">
								<div class="select-label">Mapping Style</div>
									<select class="form-control select-box"  ng-model="params.data.mapStyle" ng-options="mapStyle.id as mapStyle.name for mapStyle in mapStyles"></select>
								<div class="select-label">NLP Algorithm</div>
									<select class="form-control select-box"  ng-model="params.data.classifier" >
									<option ng-repeat="classifier in classifiers" ng-disabled="classifier.ClassifierID!='ME'" ng-selected="classifier.ClassifierID==params.data.classifier" value="{{classifier.ClassifierID}}">
										{{classifier.Classifier}}
									</option>
									</select>
								<div class="select-label">Classification</div>
								<select class="form-control select-box"  ng-model="params.data.classification" ng-options="classification.id as classification.id for classification in classifications"></select>
								<div class="select-label">Syndromes</div>
								<select class="form-control select-box"  ng-model="params.data.syndrome" ng-options="syndrome.id as syndrome.id for syndrome in syndromes | filter: filterSyndrome"></select>
								<div class="select-label">Level Of Geography</div>
								<select class="form-control select-box"  ng-model="params.data.levelOfGeography" ng-options="levelOfGeography.id as levelOfGeography.title for levelOfGeography in levelsOfGeography"></select>
								<div ng-hide="params.data.mapStyle != 'choropleth'">
									<div class="select-label" id="dataClassificationsLabel">Data Classifications</div>
									<select class="form-control select-box"  ng-model="params.data.dataClassification" ng-options="dataClassification.id as dataClassification.title for dataClassification in dataClassifications"></select>
								</div>

								<div ng-show="params.data.dataClassification == 'std_dev' && params.data.mapStyle == 'choropleth'" class="text-center">

									<strong class="small">Compare to Ontario? </strong>

									<div class="btn-group">
										<label class="btn btn-default btn-sm" ng-model="params.data.standDevCompareToOntario" btn-radio="true">Yes</label>
										<label class="btn btn-default btn-sm" ng-model="params.data.standDevCompareToOntario" btn-radio="false">No</label>
									</div>

								</div>

								<div ng-hide="params.data.dataClassification == 'std_dev'">
								<div class="select-label" id="numberOfClassificationsLabel">Number Of Classifications</div>
								<select class="form-control select-box"  ng-model="params.data.noOfClasification" ng-options="noOfClasification for noOfClasification in noOfClasifications"></select>
								</div>

								<div ng-show="(params.data.mapStyle == 'choropleth' && params.data.dataClassification == 'equal_int') || params.data.mapStyle == 'prop_symbols'">
									<div class="select-label" id="percentageRangeLabel">Percentage Range</div>
									<div class="form-group">
										<div class="col col-sm-6" ng-class="{'has-error': params.data.errors.percentageRangeLow }">
											<input type="text" class="form-control" ng-model="params.data.percentageRangeLow" placeholder="Min %"/>
											<span ng-show="params.data.errors.percentageRangeLow" class="help-block">{{ params.data.errors.percentageRangeLow }}</span>
										</div>
										<div class="col col-sm-6" ng-class="{'has-error': params.data.errors.percentageRangeHigh }">
											<input type="text" class="form-control"  ng-model="params.data.percentageRangeHigh" placeholder="Max %"/>
											<span ng-show="params.data.errors.percentageRangeHigh" class="help-block">{{ params.data.errors.percentageRangeHigh }}</span>
										</div>
									</div>
								</div>

								<div class="select-label" ng-class="{'has-error': params.data.errors.dateRangeHigh }">Date Range</div>
								<div class="form-group" ng-class="{'has-error': params.data.errors.dateRangeHigh }">
									<div class="col col-sm-12">
										<span class="label label-default">Date From:</span>&nbsp&nbsp
                        				<span class="glyphicon glyphicon-calendar"></span>
                        				<br/>
	                            		<input id="test" type="text" class="form-control" ng-model="params.data.dateRangeLow" init-date="params.data.dateRangeLow" ng-click="params.openDateRangeLowPopup($event)" datepicker-options="{{params.dateOptions.formatDay}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="params.dateOptions.minDate" max-date="params.dateOptions.maxDate" is-open="params.dateRangeLowOpened" show-button-bar="false" datepicker-append-to-body="true"/>
                        			</div>
                        			<div class="col col-sm-12">
										<span class="label label-default">Date To:</span>&nbsp&nbsp
                        				<span class="glyphicon glyphicon-calendar"></span>
                        				<br/>
                            			<input type="text" class="form-control" ng-model="params.data.dateRangeHigh" init-date="params.data.dateRangeHigh" ng-click="params.openDateRangeHigPopup($event)" datepicker-options="{{params.dateOptions.formatDay}}" datepicker-popup="yyyy-MM-dd" datepicker-mode="'day'" min-date="params.dateOptions.minDate" max-date="params.dateOptions.maxDate" is-open="params.dateRangeHighOpened" show-button-bar="false"
                            			datepicker-append-to-body="true"/>
                        			</div>
									<span ng-show="params.data.errors.dateRangeHigh" class="col col-sm-12 help-block">{{ params.data.errors.dateRangeHigh }}</span>
								</div>

								<div class="select-label">Sex</div>
								<select class="form-control select-box"  ng-model="params.data.gender" ng-options="gender.id as gender.title for gender in genders"></select>
								<div class="select-label">Age Group</div>
								<select class="form-control select-box"  ng-model="params.data.ageGroup" ng-options="ageGroup.id as ageGroup.title for ageGroup in ageGroups" ng-change="ageGroupChanged()"></select>
								<div class="select-label">Age Range</div>

								<div class="form-group">
									<div class="col col-sm-6" ng-class="{'has-error': params.data.errors.ageRangeLow }">
										<input type="text" class="form-control" placeholder="Age From" ng-model="params.data.ageRangeLow"/>
										<span ng-show="params.data.errors.ageRangeLow" class="help-block">{{ params.data.errors.ageRangeLow }}</span>
									</div>
									<div class="col col-sm-6" ng-class="{'has-error': params.data.errors.ageRangeHigh }">
										<input type="text" class="form-control" placeholder="Age To"  ng-model="params.data.ageRangeHigh"/>
										<span ng-show="params.data.errors.ageRangeHigh" class="help-block">{{ params.data.errors.ageRangeHigh }}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="bottom-menu-box row" id="bottom-menu-box">
							<div class="col col-sm-6 text-center">
								<button class="btn btn-primary" ng-click="clearData()">Clear Data</button>
							</div>
							<div class="col col-sm-6 text-center">
								<button class="btn btn-primary" ng-click="search()">Request Data</button>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Layers">
					<div class="layers">
						<ul>
							<li ng-repeat="layer in selectableLayers">
								<div ng-class="{layerPointColor: layer.type == 'pointLayer', layerPolygonColor: layer.type == 'polygonLayer'}" class=" c{{$index + 1}} {{layer.id}}" ></div>
								{{layer.title}}
								<div style="float:right">
									<span ng-class="{'layer-loading-spinner': (!layers.selectableLayers[layer.id].ready && params.selectableLayers[layer.id] == 1)}">&nbsp;</span>
									<input type="checkbox" ng-model="params.selectableLayers[layer.id]" ng-true-value="1" ng-false-value="0" ng-change="selectableLayerChanged(layer)">
								</div>
							</li>
						</ul>
						<div class="bottom-menu-box text-center">
							<button class="btn btn-primary"ng-click="clearSelectableLayers()">Clear Layers</button>
						</div>
					</div>
				</tab>
				<tab heading="Map">
					<div class="map2" >
						<select class="form-control select-box"  ng-model="params.maps.baseMap" ng-options="baseMap.id as baseMap.title for baseMap in baseMaps"></select>

						<div colorpicker ng-model="params.maps.layerColor" class="btn btn-default" style="background-color:{{ params.maps.layerColor }}" >Layer Color <span class="caret"></span></div>
						<div colorpicker ng-model="params.maps.borderColor" class="btn btn-default" style="background-color:{{ params.maps.borderColor }}" >Border Color <span class="caret"></span></div>
						<div class="bottom-menu-box row  text-center">
							<div class="col col-sm-6">
								<button class="btn btn-primary" ng-click="clearMaps()">Reset</button>
							</div>
							<div class="col col-sm-6">
								<button class="btn btn-primary" ng-click="saveMaps()">Update</button>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
			<div  style="position:absolute;bottom:5px;left:10px;">
				<span class="glyphicon glyphicon-resize-small clickable" ng-click="hideOptions()"></span>
			</div>
		</div>
		<div ng-show="!params.visible" class="show-menu">
			<div type="button" class="btn btn-default" ng-click="showOptions()"><i class="glyphicon glyphicon-resize-full"></i>  Show Menu</div>
		</div>
	</form>
</div>
