<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div id="maModalDiv" class="col-md-12 col-lg-12">
        <label id="maModalLabel" class="control-label">Moving Average in Days</label>
        <rzslider
          rz-slider-model="maSlider.value"
          rz-slider-options="maSlider.options">
        </rzslider>
      </div>
    </div>
    <div class="row pull-right">
      <div class="col-lg-12">
        <button type="button" ng-click="ok()" class="btn btn-primary">Set</button>
        <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>
</div>