<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
        <h2>
          Weekly Emergency Department Visits for Opioid Overdose<br/>
          <small>as reported to the NACRS Database via CIHI and summarized by the MOHLTC</small>
        </h2>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <img class="opi-chart" src="http://aces-cihi-imgs.s3-website-us-east-1.amazonaws.com/OPI_graph_1.png" alt="ED Visits for Opioid Poisoning">
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <img class="opi-chart" src="http://aces-cihi-imgs.s3-website-us-east-1.amazonaws.com/OPI_graph_2.png" alt="Opioid Overdose by Age">
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12 col-lg-7">
      <div class="well well-lg">
        <p>
          <b>DATA SOURCE</b>: National Ambulatory Care Reporting System (NACRS),
          Canadian Institute for Health Information (CIHI)
        </p>
        <p>
          <i>Please note that visit counts are subject to change as more
          information becomes available and NACRS updates are conducted.</i>
        <p>
      </div>
    </div>
  </div>
</div>
