<div class="modal-header">
    <button type="button" class="close" aria-label="Close register window" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Request a new account.</h3>
    <div class="row">
    <div class="form-group">
        <span>
            <div class="col-sm-12">
              The <a href="http://www.kflaphi.ca/wp-content/uploads/ACES-Confidentiality-Agreement.doc">New User Confidentiality Agreement</a> must be filled out and approved before your account is activated.
            </div>
        </span>
    </div>
  </div>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-offset-1 col-md-9">
                <div growl inline="true" inline="true" reference="1"></div>
            </div>
        </div>

        <div class="form-group">
            <span ng-class="{'has-error': errors.UserName}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-username">Username</label>
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" ng-class="{'input-loading': usernameValidating}" ng-model="newUser.UserName" id="new-user-username" placeholder="Username" ng-trim="false">
                    <span class="help-block register-warn" ng-show="errors.UserName.taken">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> The username entered is not available.
                    </span>
                    <span class="help-block register-warn" ng-show="errors.UserName.invalidLength">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Username must be between 4 and 40 characters.
                    </span>
                    <span class="help-block register-warn" ng-show="errors.UserName.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Username is a required field.
                    </span>
                </div>
            </span>
        </div>
        <br />
        <div class="form-group">
            <span  ng-class="{'has-error': errors.Password1}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-password">Password</label>
                <div class="col-sm-5 col-md-5">
                    <input type="password" class="form-control" ng-model="newUser.Password1" id="new-user-password" placeholder="Password">
                    <span class="help-block register-warn" ng-show="errors.Password1.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Password is a required field.
                    </span>
                    <span class="help-block register-warn" ng-show="errors.Password1.invalid">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Password must have minimum 6 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.
                    </span>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span  ng-class="{'has-error': errors.Password2}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-password2">Confirm Password</label>
                <div class="col-sm-5 col-md-5">
                    <input type="password" class="form-control" ng-model="newUser.Password2" id="new-user-password2" placeholder="Re-type Password">
                    <span class="help-block register-warn" ng-show="errors.Password2.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Confirm password is a required field.
                    </span>
                    <span class="help-block register-warn" ng-show="errors.Password2.notSame">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Confirm password must be same as password.
                    </span>
                </div>
            </span>
        </div>
        <br />
        <div class="form-group">
            <span  ng-class="{'has-error': errors.FName}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-fname">First Name</label>
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" ng-model="newUser.FName" id="new-user-fname" placeholder="First Name">
                    <span class="help-block register-warn" ng-show="errors.FName.invalidLength">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> First Name must not exceed 20 characters.
                    </span>
                    <span class="help-block register-warn" ng-show="errors.FName.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> First Name is a required field.
                    </span>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span  ng-class="{'has-error': errors.LName}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-lname">Last Name</label>
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" ng-model="newUser.LName" id="new-user-lname" placeholder="Last Name">
                    <span class="help-block register-warn" ng-show="errors.LName.invalidLength">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Last Name must not exceed 20 characters.
                    </span>
                    <span class="help-block register-warn" ng-show="errors.LName.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Last Name is a required field.
                    </span>
                </div>
            </span>
        </div>
        <br />
        <div class="form-group">
            <span ng-class="{'has-error': errors.Email}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-email">Email</label>
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" ng-model="newUser.Email" id="new-user-email" placeholder="Email">
                    <span class="help-block register-warn" ng-show="errors.Email.invalid">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Email address is not valid.
                    </span>
                    <span class="help-block register-warn" ng-show="errors.Email.invalidLength">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Email address must not exceed 250 characters.
                    </span>
                    <span class="help-block register-warn" ng-show="errors.Email.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Email address is a required field.
                    </span>
                </div>
            </span>
        </div>
        <br />
        <div class="form-group">
            <span ng-class="{'has-error': errors.Telephone}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-telephone">Telephone</label>
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" ng-model="newUser.Telephone" id="new-user-telephone" ng-intl-tel-input>
                    <span class="help-block register-warn" ng-show="errors.Telephone.invalidLength">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Telephone number must be left blank or contain a valid 10 digit telephone number.
                    </span>
                </div>
            </span>
        </div>
        <br />
        <div class="form-group">
            <span ng-class="{'has-error': errors.Agency}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-agency">Agency</label>
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" ng-model="newUser.Agency" id="new-user-agency" placeholder="Agency">
                    <span class="help-block register-warn" ng-show="errors.Agency.invalidLength">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Agency must not exceed 500 characters.
                    </span>
                </div>
            </span>
        </div>
        <div class="form-group">
            <span ng-class="{'has-error': errors.Position}">
                <label class="col-sm-4 col-md-4 control-label" for="new-user-position">Position</label>
                <div class="col-sm-5 col-md-5">
                    <input type="text" class="form-control" ng-model="newUser.Position" id="new-user-position" placeholder="Position">
                    <span class="help-block register-warn" ng-show="errors.Position.invalidLength">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Position must not exceed 500 characters.
                    </span>
                </div>
            </span>
        </div>
        <br />
        <div class="form-group">
            <span ng-class="{'has-error': errors.Recaptcha}">
                <div class="col-sm-offset-4 col-md-offset-4 col-sm-9 col-md-8">
                    <div vc-recaptcha key="'6LfdvCUTAAAAAO0B2fw-sAAbGdG-JR-RUEczZEsp'" ng-model="newUser.Recaptcha"></div>
                    <span class="help-block register-warn" ng-show="errors.Recaptcha.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> reCAPTCHA can not be left unchecked.
                    </span>
                </div>
            </span>
        </div>
        <br />
        <div class="form-group">
          <div class="col-sm-4 col-md-4"></div>
          <div class="col-sm-5 col-md-5">
          <button type="button" class="btn btn-new" ng-click="submit()">Submit</button>
        </div>
        </div>

    </form>

</div>
