<div id="resources-form" class="elevation">
  <div class="row">
      <div class="col-xs-12">
        <div id="resources-form-title">
          <h4>Resources</h4>
        </div>
        <div id="resources-form-content">
          <div class="btn-group btn-block" dropdown>
            <button type="button" class="btn btn-default btn-block dropdown-toggle" tooltip="{{params.resource.id}}" tooltip-append-to-body="true" tooltip-placement="top" dropdown-toggle>
                <span class="text">{{params.resource.id}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu" role="menu">
                <li class="clickable" ng-repeat="resource in resources | orderBy: 'id'" tooltip="{{resource.id}}" tooltip-placement="left" tooltip-append-to-body="true">
                    <a ng-click="setResource(resource)">{{resource.id}}</a>
                </li>
            </ul>
          </div>
          <div id="resources-form-datasource" ng-show="hasDatasource()">
            <h5>Data Source:</h5>
            <p>{{params.resource.datasource}}</p>
          <div>
        </div>
      </div>
    </div>
</div>
