<div class="container-fluid">

  <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10 resource-container">

        <!-- Header Section -->
        <div class="row elevation-padding">
          <div class="row resource-header-row">
            <div class="col-xs-12">
                <h2>{{formParams.resource.title}}<br/>
                <small>{{formParams.resource.subtitle}}</small></h2>
            </div>
          </div>

          <!-- Influenza Section -->
          <div ng-show="displayResource('Influenza')">
            <div class="row">
              <div class="col-xs-12">
                <img class="opi-chart" src="http://aces-cihi-imgs.s3-website-us-east-1.amazonaws.com/FLU_graph_1.png" alt="Hospital visit, admissions and deaths amongst suspected influenza cases by age range">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-xs-12">
                <img class="opi-chart" src="http://aces-cihi-imgs.s3-website-us-east-1.amazonaws.com/FLU_graph_2.png" alt="Hospital visit, admissions and deaths amongst suspected influenza cases by health unit">
              </div>
            </div>
            <br/>
          </div>

          <!-- Opioid Section -->
          <div ng-show="displayResource('Opioid')">
            <div class="row">
              <div class="col-xs-12">
                <img class="opi-chart" src="http://aces-cihi-imgs.s3-website-us-east-1.amazonaws.com/OPI_graph_1.png" alt="ED Visits for Opioid Poisoning">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-xs-12">
                <img class="opi-chart" src="http://aces-cihi-imgs.s3-website-us-east-1.amazonaws.com/OPI_graph_2.png" alt="Opioid Overdose by Age">
              </div>
            </div>
      
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <resources-form params="formParams"></resources-form>
      </div>

  </div>
</div>
