<div class="row" id="page-user">
    <div ng-repeat="visitType in graphData" class="elevation-margin" style="margin-top: 2.5em;">
        <h3 class="text-center">{{ visitType.title }} <small>Ontario Wide</small></h3>

        <div ng-hide="visitType.loaded" class="text-center">
            Loading...
        </div>
        <div ng-show="visitType.loaded" class="row clearfix">
            <div ng-repeat="data in visitType.data" class="col-sm-6 col-md-6 col-lg-4" style="min-height: 50px;">
                <h4 class="chart-title">
                    <div ng-show="data.editing" class="row">
                        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4">
                            <select id="select-{{ visitType.visitType }}-syndrome-{{ $index }}" ng-model="data.syndrome" ng-change="onSyndromeChange($index, visitType)" ng-blur="data.editing = false" ng-options="option.title for option in visitType.syndromes track by option.id" class="form-control"></select>
                        </div>
                    </div>
                    <span class="title" ng-hide="data.editing" ng-click="data.editing = true; onSyndromeClick(visitType.visitType, $index)" tooltip="Click to change"tooltip-placement="top">{{ data.title }}</span>
                </h4>
                <nvd3-line-chart
                        data="data.lines"
                        id="syndrome-{{ visitType.visitType }}-count-{{ $index }}"
                        height="300"
                        margin="{left: 80, right: 80}"
                        showxaxis="true"
                        showyaxis="true"
                        xaxislabel="Date"
                        yaxislabel="Visits"
                        xAxisTickFormat="xAxisTickFormatFunction()"
                        noData="No Data Available"
                        showLegend="false"
                        >
                </nvd3-line-chart>
            </div>
        </div>
    </div>


    <div class="col-sm-12 elevation-margin" style="overflow-x:hidden; padding-right: 30px;">
		<h3 class="text-center" class='current-alerts'>Current Alerts <small>Ontario Wide</small></h3>

        <alerts-grid data="data" auto-height="false" geo-name-cell-template="1" enable-paging="false" hidden-columns="['AlertUUID']"></alerts-grid>
    </div>
</div>
