<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div ng-show="forcePasswordChange" class="alert alert-info" role="alert" style="margin-bottom: 10px;">Please change your password.</div>
		<form role="form" name="form" class="panel panel-default" ng-submit="changePassword.submit()">
			<div class="panel-heading">Change Password</div>
			<div class="panel-body">
					<div class="form-group" ng-class="{ 'has-error': changePassword.error.currentPasswordRequired || changePassword.error.currentPasswordIncorrect }">
						<label for="oldPassword">Current password</label>
						<input type="password" ng-model="changePassword.currentPassword" class="form-control" id="oldPassword" placeholder="Enter current password">
						<div class="help-block" ng-show="changePassword.error.currentPasswordRequired">Please enter your current password</div>
						<div class="help-block" ng-show="changePassword.error.currentPasswordIncorrect">Invalid current password</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': changePassword.error.newPasswordRequired || changePassword.error.newPasswordInvalid || changePassword.error.reusePassword}">
						<label for="newPassword">New password</label>
						<input type="password" ng-model="changePassword.newPassword" class="form-control" id="newPassword" placeholder="Enter new password">
						<div class="help-block" ng-show="changePassword.error.newPasswordRequired">Please enter new password</div>
						<div class="help-block" ng-show="changePassword.error.newPasswordInvalid">New password must have minimum 6 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.</div>
						<div class="help-block" ng-show="changePassword.error.reusePassword">You can not use your current password as your new password.</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': changePassword.error.newPassword2Same }">
						<label for="newPassword2">Re-type new password</label>
						<input type="password" ng-model="changePassword.newPassword2" class="form-control" id="newPassword2" placeholder="Re-enter new password">
						<div class="help-block" ng-show="changePassword.error.newPassword2Same">Re-type password must be same as new password</div>
					</div>
			</div>
			<div class="panel-footer text-right">
				<button type="submit" class="btn btn-default">Change</button> <a ui-sref="app.profile" ng-click="cancel()" ng-hide="forcePasswordChange">Cancel</a>
			</div>
		</form>
	</div>
</div>