<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form role="form" name="form" class="panel panel-default" ng-submit="submit()">
			<div class="panel-heading">Forgot Password</div>
			<div class="panel-body">
					<div class="form-group" ng-class="{ 'has-error': error.email || error.email }">
						<label for="email">Email</label>
						<input type="text" ng-model="email" class="form-control" id="email">
						<div class="help-block" ng-show="error.emailRequired">Please enter your email</div>
						<div class="help-block" ng-show="error.emailIncorrect">Invalid email</div>
					</div>
			</div>
			<div class="panel-footer text-right">
				<button type="submit" class="btn btn-default">Email</button> <a ui-sref="app.home">Cancel</a>
			</div>
		</form>
	</div>
</div>