<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <k-grid></k-grid>
</div>