<div ui-view>
	<div class="page-header">
		<h1>Keyword Notifications</h1>
	</div>

	<div class="row">

		<!-- New Alerts Begin -->
		<div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">

			<div class="panel panel-primary">
				<div class="panel-heading keyword-heading">Keyword Notification Builder</div>
				<div class="panel-body keyword-builder-body">

					<div class="row keyword-builder-row">
						<div class="col col-md-12">
							<h5 class="keyword-label">Keyword(s) <i>(comma-separated)</i></h5>
							<input type="text" class="form-control" ng-class="{'keyword-highlight': formValidationError.keywords}" ng-model="alerts.keywords" placeholder="keyword 1, keyword 2">
							<span ng-show="formValidationError.keywords" class="keyword-error">
							<span class="glyphicon glyphicon-exclamation-sign"></span> Keyword(s) can not be blank.
							</span>
						</div>
					</div>

					<div class="row keyword-builder-row">
						<div class="col col-md-12 col-lg-4">
							<div class="row keyword-builder-row">
								<h5 class="keyword-label">PHUs
									<span ng-if="showCount(alerts.phus.length)" class="keyword-count badge">{{alerts.phus.length}}</span>
								</h5>
								<select multiple class="form-control" ng-model="alerts.phus" data-ng-attr-size={{countLength(phus.length)}}>
									<option ng-repeat="phu in phus">{{phu.phuShortcode}}</option>
								</select>
							</div>
							<div class="row keyword-builder-row keyword-row-control text-center" ng-if="phus.length > 1">
								<button type="button" class="btn btn-info keyword-button-control" ng-click="highlightControl('phu')">Select / Deselect All</button>
							</div>
						</div>

						<div class="col col-md-12 col-lg-4">
							<div class="row keyword-builder-row">
								<h5 class="keyword-label">Hospitals
									<span ng-if="showCount(alerts.hospitals.length)" class="keyword-count badge">{{alerts.hospitals.length}}</span>
								</h5>
								<select multiple class="form-control" ng-model="alerts.hospitals" data-ng-attr-size={{countLength(hospitals.length)}}>
									<option ng-repeat="hospital in hospitals" ng-if="hospitalInPhu(hospital)">{{hospital.hospShortcode}}</option>
								</select>
							</div>
							<div class="row keyword-builder-row keyword-row-control text-center" ng-if="hospitals.length > 1">
								<button type="button" class="btn btn-info keyword-button-control" ng-click="highlightControl('hospital')">Select / Deselect All</button>
							</div>
						</div>

						<div class="col col-md-12 col-lg-4">
								<h5 class="keyword-label">Type</h5>
							<select class="form-control" ng-model="alerts.type" ng-options="type.title for type in types" data-ng-attr-size={{countLength(types.length)}}></select>
						</div>
					</div>

					<div class='panel-divider'></div>

					<!-- Form controls -->
					<div class="row keyword-builder-row keyword-builder-control pull-right">
						<div class="col col-md-12">
							<div class="btn-group-vertical" role="group">
								<button type="button" class="btn btn-danger" ng-click="clearKeyword()">Clear</button>
							</div>

							<div class="btn-group-vertical" role="group" ng-show="editMode == false">
								<button type="button" class="btn btn-success" ng-click="addKeyword()">Add</button>
							</div>

							<div class="btn-group-vertical" role="group" ng-show="editMode">
								<button type="button" class="btn btn-success" ng-click="updateKeyword()">Update</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- New Alerts End -->

		<!-- Existing Alerts Begin -->
		<div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">

			<div ng-show="showWarning" class="keyword-warning-container">
				<h4 class="keyword-warning text-muted">
					<i class="glyphicon glyphicon-info-sign"></i>
					<span> There are no keyword alerts.</span>
				</h4>
			</div>

			<div ng-repeat="keyword in keywordAlerts">
				<div class="panel panel-success">
					<div class="panel-heading keyword-heading"><strong>Keyword(s):</strong> {{keyword.Keyword}}
						<div class="keyword-badge pull-right">
							<span class="keyword-control pull-right">
								<span class="keyword-button glyphicon glyphicon-th-list" ng-click="details(keyword)" title="List notifications sent"></span>
								<span class="keyword-button glyphicon glyphicon-edit" ng-click="modeKeyword(keyword.KeywordUUID)" title="Edit"></span>
								<span class="keyword-button glyphicon glyphicon-remove" ng-click="deleteKeyword(keyword.KeywordUUID)" title="Remove"></span>
							</span>
						</div>
					</div>
					<div class="panel-body keyword-body">						

						<div class='keyword-row'>
							<span class="label label-default">PHUs:</span>
							<span class="keyword" ng-hide="keyword.PHU === undefined">{{keyword.PHU}}</span>
							<span class="keyword" ng-show="keyword.PHU === undefined">All</span>
						</div>

						<div class='keyword-row'>
							<span class="label label-default keywordAlertTitle">Hospitals:</span>
							<span class="keyword" ng-hide="keyword.HospitalID === undefined">{{keyword.HospitalID}}</span>
							<span class="keyword" ng-show="keyword.HospitalID === undefined">All</span>
						</div>

						<div class='keyword-row'>
							<span class="label label-default keywordAlertTitle">Type:</span>
							<span class="keyword" ng-hide="keyword.VisitType === undefined">{{keyword.VisitType}}</span>
							<span class="keyword" ng-show="keyword.VisitType === undefined">Both</span>
						</div>

						<div class='keyword-row'>
							<span class="label label-default">Date Created:</span>
							<span class="keyword">{{keyword.CreatedOn | date:'yyyy-MM-dd'}}</span>
						</div>

						<div class='keyword-row-status'>							
							<toggle ng-model="keyword.Active" ng-change="updateKeywordActiveStatus(keyword.KeywordUUID,keyword.Active)" on="Active" off="Disabled"></toggle>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Existing Alerts End -->
	</div>
</div>
