<div ui-view>
	<div class="page-header">
		<h1>Profile: {{ user.name }}</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			User details here...
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			
		</div>
	</div>


</div>