<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form role="form" name="form" class="panel panel-default" ng-submit="submit()">
			<div class="panel-heading">Reset Password</div>
			<div class="panel-body">
					<div class="form-group" ng-class="{ 'has-error': error.newPasswordRequired || error.newPasswordInvalid }">
						<label for="newPassword">New password</label>
						<input type="password" ng-model="newPassword" class="form-control" id="newPassword" placeholder="Enter new password">
						<div class="help-block" ng-show="error.newPasswordRequired">Please enter new password</div>
						<div class="help-block" ng-show="error.newPasswordInvalid">New password must have minimum 6 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': error.newPassword2Same }">
						<label for="newPassword2">Re-type new password</label>
						<input type="password" ng-model="newPassword2" class="form-control" id="newPassword2" placeholder="Re-enter new password">
						<div class="help-block" ng-show="error.newPassword2Same">Re-type password must be same as new password</div>
					</div>
			</div>
			<div class="panel-footer text-right">
				<button type="submit" class="btn btn-default">Reset</button> <a ui-sref="app.home">Cancel</a>
			</div>
		</form>
	</div>
</div>